<!-- BEGIN newsletterMail -->
<style>
	body {margin:0; padding:0;}
</style>
<table style="width:750px;">
	<tr><td><h1 style="margin:0; padding:0;">{newsletterTitle}</h1></td></tr>
	<tr><td>{firstAttchedImage}</td></tr>
    <tr><td>{newsletterContent}</td></tr>
</table>
<!-- END newsletterMail -->