.alert_red{
	width:95%;
	height:auto;
	padding:5px;
	background-color:#FF6666;
	color:#333333;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}
.alert_yellow{
	width:95%;
	height:auto;
	padding:5px;
	background-color:#FFCC66;
	color:#333333;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.alert_green{
	width:98%;
	height:auto;
	padding:5px;
	background-color:#84ff90;
	color:#333333;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.alert_green_form{
	width:96%;
	height:auto;
	padding:5px;
	background-color:#84ff90;
	color:#333333;
	font-size:14px;
	margin:20px auto 20px auto;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}
.alert_red_form{
	width:96%;
	height:auto;
	padding:5px;
	background-color:#FF6666;
	color:#333333;
	font-size:14px;
	margin:20px auto 20px auto;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}
.alert_yellow_form{
	width:96%;
	height:auto;
	padding:5px;
	background-color:#FFCC66;
	color:#333333;
	font-size:14px;
	margin:20px auto 20px auto;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}
#delete_confirmation_wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}


.fade{
	background:#000;
	position: fixed;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=50);
	opacity:.50;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /*--IE 8 Transparency--*/
	left: 0;
	top: 0;
	z-index:99;

}

.popup_block {
	padding: 0px 10px;
	float: left;
	width: 480px;
	position: fixed;
	top: 20%;
	left: 50%;
	margin: 0 0 0 -250px;
	z-index: 100;
	background: #fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	 border:2px solid #bbb;
	 
	
}
.popup_block .popup {
	float: left;
	width: 100%;
	background: #fff;
	margin: 10px 0;
	padding: 10px 0;
}

/*IE 6 Hack Script*/
*html .fade {
	/*width:2000px;
	height:10000px;
	*/
	position: absolute;
	top:0;
}

*html .popup_block {
	position: absolute;

	top:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop
	+((documentElement.clientHeight-this.clientHeight)/2)
	: document.body.scrollTop
	+((document.body.clientHeight-this.clientHeight)/2));

	left:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollLeft
	+ (document.body.clientWidth /2 )
	: document.body.scrollLeft
	+ (document.body.offsetWidth /2 ));
}

/*Password Strength*/
.validate_box{
	font-weight: bold;
	font-size:13px;
	font-family: arial,helvetica,san-serif;
	color:#666;
	padding:6px !important;
	padding:0;
	margin:0 0 0 10px;
	height:30px;
	
	
}
.validate_box span{
	padding:5px 20px 12px 5px !important;
	padding:4px 20px 12px 4px;
	margin: 0px 0px 0px 20px;
	white-space: nowrap;
	
}
.shortPass,.validate_no{
	background:#edabab;
	border:1px solid #bc0000;
}

.badPass{
	background:#edabab;
	border:1px solid #bc0000;
	margin:-10px 0 0 0px;
	padding:0;
}

.goodPass{
	background:url(../images/yellow.png) no-repeat 0 -5px;
	border-bottom:1px solid #bc9f00;
	border-right:1px solid #bc9f00;
	border-top:1px solid #bc9f00;
	border-left:1px solid #bc9f00;
	
}

.strongPass, .validate_ok{
	background: url(../images/green.png) no-repeat 0 -5px;
	border-top:1px solid #73bc00;
	border-right:1px solid #73bc00;
	border-bottom:1px solid #73bc00;
	border-left:1px solid #73bc00;
}


