/* CSS Document */


.list-images-portfolio {list-style: none;padding: 0px;margin: 0px;max-width: 600px;width: 100%;text-align: center;}
.list-images-portfolio li legend {width: 100%;}
.list-images-portfolio li {border: solid 1px #000;margin-bottom: 20px;height: 280px;position: relative;background-color: #eee; cursor: ns-resize;}
.list-images-portfolio li:before{content: " ";position: absolute;top: 10px;left: 10px;right: 10px;bottom: 10px;border: 1px solid #000;}
.border-drop {top: 11px;left: 11px;right: 11px;bottom: 11px;position: absolute;background-color: #fff;}
.drop-image {width: 100%;height: 100%;position: relative; background-size: cover;background-position: center center;background-repeat: no-repeat;}
.drop-image:before {content: "Drag Image or Click Here";display: block;position: absolute;top: 50%;left: 50%;margin: -7.5px 0 0 -70px;}
.desc-drop {position: absolute;top: 50%;left: 50%;margin: -25px 0 0 -68px;}
.double-drop .border-drop {width: 46.8%;border: solid 1px #000;background-color: #fff;}
.double-drop .border-drop:nth-child(2) {left: inherit;}
.list-images-portfolio li.double-drop:before {border: none;}
.list-images-portfolio.theme {display: none;}
.textarea-list-image-portfolio {position: fixed;left: -9999px;top: -9999px;}

.drop-image.load-attachment .desc-drop,.drop-image.has-image .desc-drop {opacity: 0;}
.dz-preview{position: relative;width: 100%;height: 100%;background-color: #fff;}
.dz-preview.dz-success-load {background-size: cover;background-repeat: no-repeat;background-position: center center;}
.dz-preview > div{display:none;}
.drop-image.edit-drop-image:before {opacity: 0;}