<!-- BEGIN villasAditionalData -->

<div class="villasAditionalData">
	{error_alert}
    <fieldset>
        <label>When To Start Publishing</label>
        <input type="text" rel="publish_start_date" name="additional_fields[publish_start_date][{iii}]" value="{publish_start_date}" class="textbox datepicker" style="vertical-align:middle; width:120px !important; text-align:center;"	/>
        or <a class="jusLikeaButton setDateImmidiately" rel="{curTime}">immediately</a>
    </fieldset>
    
	<fieldset>
        <label style="padding:15px 0 10px;">Upload Template File</label>
        <input type="file" name="additional_fields[the_template][{iii}]" style="vertical-align:middle;" /> 
        <!--
        <a href="{preview_link}" target="_blank" style="{preview_available_status} background:#EF451E; color:#fff; padding:3px 15px 4px; text-decoration:none; font-weight:bold; font-size:11px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;">preview</a>
    	<span style="font-size:0.8em; color:#C00;">{missing_file}</span>
       	-->
    </fieldset>
    <fieldset>
        <label style="font-size:1.2em; font-weight:bold; padding:15px 0 10px; position:relative; ">Available Templates</label>
        <table class="template_select_{i} justTable availableTemplate" width="100%" cellpadding="0" cellspacing="0" style="font-size:1em;" >
        	{availableTemplateList}
        </table>
        
        <input type="hidden" name="additional_fields[selected_template][{iii}]" rel="template_select_{i}" class="selected_template" value="{selected_template}" style="width:100%;" />
    </fieldset>
</div>
<!-- END villasAditionalData -->