<!-- BEGIN newsletterConfig -->
<h1>{title}</h1>
<p style="padding-left:6px;">
    Here you can change your newsletter setting.
</p>
<ul class="tabs">
    {tabs}
</ul>
<div class="tab_container">
    {alert}
    <div class="clearfix">
    	<form method="post" action="">
	    <div>
            <fieldset>
                <label style="padding-bottom:4px; display:block;">Number of email per send : </label>
                <input type="text" name="email_per_send" value="{email_per_send}" class="textbox" style="vertical-align:middle; width:100px !important; min-width:0 !important;" />
            </fieldset>
            <fieldset>
                <label style="padding-bottom:4px; display:block;">Notification email address : </label>
                <input type="text" name="newsletter_notif_email" value="{newsletter_notif_email}" class="textbox" style="vertical-align:middle; width:300px !important; min-width:0 !important;" />
            </fieldset>
            <fieldset>
                <label style="padding-bottom:4px; display:block;">SMTP : </label>
                <input type="text" name="newsletter_smtp" value="{newsletter_smtp}" class="textbox" style="vertical-align:middle; width:300px !important; min-width:0 !important;" />
            </fieldset>
            
            <fieldset style="padding-top:20px; padding-bottom:20px;">
                <input type="submit" value="save configuration" name="save_changes" style="cursor:pointer;" />
            </fieldset>
        </div>
        </form>
    </div>
</div>
<!-- END newsletterConfig -->
