<!-- BEGIN villasAditionalCSS -->
<script>
jQuery(document).ready(function(){
	jQuery('input.datepicker').datepicker();
	jQuery('a.setDateImmidiately').click(function(){
		var rel = jQuery(this).attr('rel');
		jQuery(this).parent().find('input').val(rel);
	});
	
	jQuery('.additional_data').find('h2').each(function(){
		var text = jQuery(this).text();
		if(text=='Meta Data' || text=='Comments' || text=='Share To'){
			jQuery(this).parent().find('.additional_content').css('display','none');
		}
	});
	
	jQuery('a.previewButton.justPreview').colorbox({
		iframe : true,
		width : '800',
		height : '100%' 
	});
	
	jQuery('input.selected_template').each(function(){
		var rel = jQuery(this).attr('rel');
		var val = jQuery(this).val();
		
		jQuery('table.'+rel).find('tr.'+val+' td').css('background','#f93');
		jQuery('table.'+rel).find('tr.'+val+' td input').attr('checked',true);
	});
	
	jQuery('table.availableTemplate tr td input[type=radio]').click(function(){
		var rel = jQuery(this).attr('rel');
		var val = jQuery('table.'+rel+' tr td input[type=radio]:checked').val();
		
		jQuery('input.selected_template[rel='+rel+']').val(val);
		jQuery('table.'+rel).find('tr td').css('background','none');
		jQuery('table.'+rel).find('tr.'+val+' td').css('background','#f93');
	});
	
	jQuery('a.previewButton.delete').click(function(){
		var rel = jQuery(this).attr('rel');
		if(confirm('Are you sure want to delete this template : "'+rel+'"?')){
			var url = '{site_url}/delete-template/'+rel+'/';
			jQuery.post(url,function(data){
				if(trim(data)=='delete complete'){
					jQuery('tr[class='+rel+']').remove();
				}
			});
		}
	});
	function trim(str) {
		var	str = str.replace(/^\s\s*/, ''),
			ws = /\s/,
			i = str.length;
		while (ws.test(str.charAt(--i)));
		return str.slice(0, i + 1);
	}
});
</script>
<style>
.villasAditionalData { position:relative; }
.villasAditionalData fieldset { padding:5px; position:relative; }
.villasAditionalData fieldset label { display:block; padding:0px; }
.villasAditionalData fieldset .textbox { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing : border-box;
	-o-box-sizing : border-box;
	box-sizing : border-box; 
	height:32px !important;
	width:100% !important;
}
.villasAditionalData fieldset .textbox.smaller { width:45% !important; min-width:0; margin-right:10px; }

.villasAditionalData span.othBlock { display:block; margin-bottom:5px; }
.villasAditionalData a.justMoreButton { font-size:30px; font-weight:bold; text-decoration:none; position:absolute; right:15px; bottom:6px; display:block; line-height:1em; }
.villasAditionalData a.justMoreButton:hover { color:#F60; }
.villasAditionalData input.empty { color:#aaa; }

.villasAditionalData span.imagesBlock,
.villasAditionalData span.manageImage { display:block; float:left; width:100%; }
	.villasAditionalData span.imagesBlock a { width:100px; height:100px; overflow:hidden; float:left; }
.villasAditionalData .clear { clear:both; }

.villasAditionalData .justThumbnailWrapper { position:relative; float:left; margin:0 5px 5px 0; }
.villasAditionalData span.imagesBlock a.setMainThumbnail { position:absolute; bottom:0; left:0; width:90px; height:auto; text-decoration:none; padding:5px; background:#000; color:#fff; text-align:center; font-weight:bold; display:none; }
.villasAditionalData span.imagesBlock a.setMainThumbnail.selected, 
.villasAditionalData span.imagesBlock a.setMainThumbnail.hovered { display:block; }


.villasAditionalData .textbox { min-width:0; }
.villasAditionalData .smallest { width:180px; float:left; }
.villasAditionalData .smaller  { width:166px; float:left; }
.villasAditionalData fieldset span.block { display:block; float:left; margin-right:15px; }

a.switchStyle { font-size:0.8em; font-weight:bold; text-decoration:none; margin-left:20px; cursor:pointer; }
a.switchStyle:hover { text-decoration:underline; }


.justTable tr td { padding:5px 10px; } 
a.previewButton, a.jusLikeaButton { cursor:pointer; background:#FC9; color:#fff; padding:3px 15px 4px; text-decoration:none; font-weight:bold; font-size:11px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
a.previewButton:hover, a.jusLikeaButton:hover { background:#EF451E; }
	
.clear { clear:both; }
 
#ui-datepicker-div * {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
 
</style>
<!-- END villasAditionalCSS -->