<!-- BEGIN villasAditionalData -->
<script type="text/javascript" src="{json_url}" ></script>
<script>
var txt1 = 'work name';
var txt2 = 'URL';
var attReload = false;
jQuery(document).ready(function(){	
	function refreshAttachedImages(){
		jQuery('.justThumbnailWrapper').unbind();
		jQuery('span.imagesBlock').text('');
		
		var thePID = parseInt('{postID}');
		var thaUrl = '{imageFetchURL}';
		var altID  = jQuery('[name=post_id[0]]').val();
		
		if(thePID>0 || attReload==true ){
			jQuery.post(thaUrl, { 
				pID  : thePID,
				altID : altID
			}, function(data){
				var feedback = trim(data);
				if(feedback!='empty1' && feedback!='empty2'){
					var retData  = jQuery.evalJSON(feedback);	
					jQuery.each(retData, function(index,value){
						var selThumb = jQuery('.floor_plan_image').val();
						var addClass = '';
						if(value['full']==selThumb){
							var addClass = 'selected';
						}
						
						
						var justTB = '{timthumbURL}?h=100&w=100&src=http://{just_site_url}'+value['full'];
						var mainThumb = '<a class="setMainThumbnail '+addClass+'" rel="'+value['full']+'" href="#make-floor-plan" >floor plan</a>';
						var tag = '<div class="justThumbnailWrapper">'+mainThumb+'<a class="attachedImagePreview" href="http://{just_site_url}'+value['full']+'"><img src="'+justTB+'" /></a></div>';
						
						jQuery('span.imagesBlock').append(tag);
					});
					
					var justContent = trim(jQuery('span.imagesBlock').html());
					if(justContent==''){
						jQuery('span.imagesBlock').parent().css('display','none');
					}else{
						jQuery('span.imagesBlock').parent().css('display','block');
					}
					
					jQuery('a.attachedImagePreview').unbind();
					jQuery('a.attachedImagePreview').colorbox({
						maxWidth:"100%", 
						maxHeight:"100%",
					});
					
					attReload = false;
					
					jQuery('a.setMainThumbnail').css('opacity',0.8);
					bidOnThumbnailHover();
					
					window.setTimeout(function(){
						var nSelected = jQuery('.setMainThumbnail.selected').length;
						if(nSelected==1){
							jQuery('.floorPlanInfo').css('display','block');
						}else{
							jQuery('.floorPlanInfo').css('display','none');
						}
					},3000);
				}
			});
		}
	}
	refreshAttachedImages();
	jQuery('a.justManageImage').click(function(){
		jQuery('.textarea_button .upload_image.cboxElement').click();
	});
	
	function bidOnThumbnailHover(){
		jQuery('.justThumbnailWrapper').mouseenter(function(){
			jQuery(this).find('.setMainThumbnail').addClass('hovered');	
		}).mouseleave(function(){
			jQuery(this).find('.setMainThumbnail').removeClass('hovered');	
		});
		
		jQuery('a.setMainThumbnail').click(function(){
			if(jQuery(this).hasClass('selected')){
				jQuery('a.setMainThumbnail.selected').removeClass('selected');
				jQuery(this).parent().parent().parent().find('.floor_plan_image').val('');
				jQuery('.floorPlanInfo').css('display','none');
			}else{
				jQuery('a.setMainThumbnail.selected').removeClass('selected');
				var rel = jQuery(this).attr('rel');
				jQuery(this).parent().parent().parent().find('.floor_plan_image').val(rel);
				var rel = jQuery(this).addClass('selected');
				jQuery('.floorPlanInfo').css('display','block');
			}
		});
	}
	$(document).bind('cbox_closed', function(){
        attReload = true;
		refreshAttachedImages();
	});
	
	
	jsonViewSet()
	jQuery('[name=json_view]').click(function(){ jsonView(); });
	function jsonView(){
		var JSONvars = new Array();
		
		var i = 0;
		jQuery('[name=json_view]:checked').each(function(){
			JSONvars[i] = jQuery(this).val();
			i++;
		});
		var JSONres = jQuery.toJSON(JSONvars);
		jQuery('.the_view_json').val(JSONres);
	}
	function jsonViewSet(){
		var val = '{the_view_json}';
		jQuery('.the_view_json').val(val);
		
		var array = eval(val);
		if(trim(val)!=''){
			var i = 0;
			jQuery.each(array, function(index,value){
				jQuery('[name=json_view][value='+value+']').attr('checked','true');
			});
		}
	}
});

function trim(str) {
	var	str = str.replace(/^\s\s*/, ''),
		ws = /\s/,
		i = str.length;
	while (ws.test(str.charAt(--i)));
	return str.slice(0, i + 1);
}
</script>
<!-- END villasAditionalData -->