<!-- BEGIN newsletterConfig -->
<style>
	#newsletterSubscriber { font-size:13px; }
</style>

<script>
jQuery(document).ready(function(){

});
function trim(str) {
	var	str = str.replace(/^\s\s*/, ''),
		ws = /\s/,
		i = str.length;
	while (ws.test(str.charAt(--i)));
	return str.slice(0, i + 1);
}
</script>


<h1>{title}</h1>
<ul class="tabs">
    {tabs}
</ul>
<div class="tab_container" id="newsletterSubscriber">
    {alert}
    <div class="clearfix">
    	<form method="post" action="" >
        	<div class="button_wrapper clearfix" style="margin:15px auto 0;">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>
        	
        <!-- BEGIN newsletterLoop -->
        	<fieldset>
                <label style="padding-bottom:4px; display:block;">Full Name : </label>
                <input type="text" name="full_name" value="{full_name}" class="textbox" style="vertical-align:middle; width:400px !important; min-width:0 !important;" />
            </fieldset>
            <fieldset>
                <label style="padding-bottom:4px; display:block;">email : </label>
                <input {email_disabled} type="text" name="email" value="{email}" class="textbox" style="vertical-align:middle; width:400px !important; min-width:0 !important;" />
            </fieldset>
            <fieldset>
                <label style="padding-bottom:4px; display:block;">Status : </label>
                <input type="radio" name="status" value="pending" {status_0} /> Pending <input type="radio" name="status" value="approved" {status_1} /> Approved
            </fieldset>
        <!-- END newsletterLoop -->
        
        	<div class="button_wrapper clearfix" style="margin:15px auto;">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END newsletterConfig -->
