<!-- BEGIN newsletterConfig -->
<style>
	#newsletterSubscriber { font-size:13px; }
	
	.theList { width:96%; margin:0 auto; margin-top:15px; margin-bottom:15px; }
	.theList tr td { border-bottom:dashed 1px #ccc; padding:2px 0 5px; }
	.theList tr.head td { background:#F90; color:#fff; font-weight:bold; text-align:center; padding:5px 0; border:none; }
	.theList tr.hovered td { background:#FFF4E6; }
	
	.theList a.status { text-decoration:none; background:#FC9; color:#fff; font-size:0.85em; font-weight:bold; padding:4px 10px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer; }
	.theList a.status:hover { background:#F90; }
	.theList a.status.notApproved { background:#ccc; }
	.theList a.status.notApproved:hover { background:#555; }
	.theList tr td small { display:block; font-weight:bold; font-size:0.8em; color:#F60; }
	
	.theList a.status.loading { background:#ccc; }
	img.loadingAjax { vertical-align:middle; }
	
	
	a.status.filter.active { background:#555; }
</style>

<script>
jQuery(document).ready(function(){
	jQuery('.theList tr td').mouseenter(function(){
		if( !jQuery(this).parent().hasClass('head') && !jQuery(this).parent().hasClass('noefect') ){
			jQuery(this).parent().addClass('hovered');
		}
	}).mouseleave(function(){
		if( !jQuery(this).parent().hasClass('head') && !jQuery(this).parent().hasClass('noefect') ){
			jQuery(this).parent().removeClass('hovered');
		}
	});
	
	var loadingIMG = '<img src="http://{plugin_url}/images/ajax-loader.gif" class="loadingAjax" />';
	var pURL = 'http://{plugin_url}/newsletter-ajax.php';
	
	jQuery('a.status.update').click(function(){
		jQuery(this).addClass('loading');
		var html = jQuery(this).html();
		jQuery(this).html(loadingIMG);
		var ele = jQuery(this);
		var rel = jQuery(this).attr('rel');
		
		jQuery.post(pURL,{
			act : 'toggleStatus',
			key : rel
		},function(data){
			//alert(data);
			jQuery(ele).removeClass('loading');
			
			if(trim(data)=='pending'){
				jQuery(ele).html('pending');
				jQuery(ele).addClass('notApproved');
			}else if(trim(data)=='approved'){
				jQuery(ele).html('approved');
				jQuery(ele).removeClass('notApproved');
			}else{
				jQuery(ele).html(html);
			}
		});
	});
	
	jQuery('a.status.filter').click(function(){
		if(jQuery(this).hasClass('all')){ var target = 'all'; }
		if(jQuery(this).hasClass('approved')){ var target = 'approved'; }
		if(jQuery(this).hasClass('pending')){ var target = 'pending'; }
		
		if(!jQuery(this).hasClass('active')){
			jQuery('a.status.filter').removeClass('active');
			jQuery(this).addClass('active');
			
			if(target=='all'){
				jQuery('a.status.update').parent().parent().attr('style','');
			}else{
				jQuery('a.status.update').parent().parent().css('display','none');
				jQuery('a.status.update').each(function(){
					var text = jQuery(this).text();
					if(text==target){
						jQuery(this).parent().parent().attr('style','');
					}
				});
			}
		}
	});
	
	jQuery('a.status.deleteMember').click(function(){
		var rel = jQuery(this).attr('rel');
		var prt = rel.split('-');
		var ele = jQuery(this);
		
		if(confirm('Do you really want to delete this member : "'+prt[1]+'"?')){			
			jQuery(this).html(loadingIMG).css('background','#ccc');
			
			jQuery.post(pURL,{
				act : 'deleteMember',
				key : prt[0]
			},function(data){
				alert(trim(data));
				if(trim(data)=='success'){
					jQuery(ele).parent().parent().remove();
				}else{
					alert('Something is wrong, please try again later!');
				}
			});
		}
	});
});
function trim(str) {
	var	str = str.replace(/^\s\s*/, ''),
		ws = /\s/,
		i = str.length;
	while (ws.test(str.charAt(--i)));
	return str.slice(0, i + 1);
}
</script>


<h1>{title}</h1>
<p style="padding-left:6px;">
    The list of your newsletter subscriber.
</p>
<ul class="tabs">
    {tabs}
</ul>
<div class="tab_container" id="newsletterSubscriber">
    <div class="button_wrapper clearfix" style="margin:15px auto 0;">
        <div class="button_left" style="position:relative;">
            <form method="post">
                <ul class="button_navigation" style="float:right; width:auto;">
                    {button}
                </ul>
            </form>
            <div style="clear:both;"></div>
            
            <div style="position:absolute; left:10px; top:12px; width:60%;" >
            	<table class="theList" cellpadding="0" cellspacing="0;" width="100%" style="margin:0;">
                    <tr class="noefect">
                        <td style="border:none; padding-bottom:15px;">
                            Filter : <a class="status filter all active">show all</a> <a class="status filter approved">show approved only</a> <a class="status filter pending">show pending only</a>
                        </td>
                    </tr>
				</table>
            </div>
        </div>
    </div>
    {alert}
    <div class="clearfix">
    	<table class="theList" cellpadding="0" cellspacing="0;">
        	<tr class="head">
            	<td width="50">No.</td>
                <td>Name and Email</td>
                <td width="100">Status</td>
                <td width="100">actions</td>
            </tr>
            
            
            <!-- BEGIN newsletterLoop -->
        	<tr>
            	<td style="text-align:center;">{iii}</td>
                <td>
                	{member_name}
                	<small>{member_email}</small>
                </td>
                <td style="text-align:center;">{member_status}</td>
                <td style="text-align:center;" width="100">
                	<a class="status editMember" href="{eURL}" >edit</a>
                    <a rel="{pID}-{member_name}" class="status deleteMember" >del.</a>
                </td>
            </tr>
            <!-- END newsletterLoop -->
            
        </table>
    </div>
</div>
<!-- END newsletterConfig -->
