<!-- BEGIN pageAddNew -->
 <script>
$(document).ready(function() {
function trim(str) {
		var	str = str.replace(/^\s\s*/, ''),
			ws = /\s/,
			i = str.length;
		while (ws.test(str.charAt(--i)));
		return str.slice(0, i + 1);
	}
});
</script>

<h1>{app_title}</h1>
<ul class="tabs" style="border-bottom:none;">{gallery_tabs}</ul>
<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#">
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <script>
		$(document).ready(function() {
	    	jQuery("#text_date_{post_index}").datepicker({dateFormat: 'dd/mm/yy', altField: '#datefromH_{post_index}', altFormat: 'yy,mm,dd'});
	    	//alert("M");
	
	
	    	thaUrl = '{thaUrl}';
	    	//alert(thaUrl);
	        
	        $('#select_spa_package_{post_index}').change(function(){
	            var article_id = $(this).val();
	        	jQuery.post(thaUrl,{ 
	                pKEY:'set_price',
	                article_id_ajax:article_id
		        },function(data){
			        $('#text_price_'+{post_index}+'').val(data);
		        	if(trim(data)!='error'){
		                alert(data);
		        	}else{
			        	alert("E");
		        	}
		        });
	        });
	    });
		</script>
	    <div class="list_edit" {am_style_background}>	
		
     
    <input type="hidden" name="post_id[{post_index}]" value="{post_id}">
    <input type="hidden" name="cat_id[{post_index}]" value="{post_id}">
		<fieldset>
			<div class="blockSurechargeDescription">
		    <p>Name<br></p>
		    <p><input type="text" value="{val_thecategory}" name="thecategory[{post_index}]" class="textbox"></p>
		    
		    <p>Parent<br></p>
		    <p>
		    <select name="thecategory_parent[{post_index}]">
		    <option value="0">Parent</option>
		    {thecategory_parent_option}
		    </select>
		    </p>
		    
		    <p>Description<br></p>
		    <p>
		    {textarea}
		    </p>
			</div>
		</fieldset>
       	
       	</div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END pageAddNew -->