/*===== Default Start =====*/
body{background-color:#fff; font-family: "CoreSansA65Bold"; font-size:18px;font-weight:400;} 
body.scroll-y-none {overflow-y: hidden;}
h1{font-size:3.333em;font-weight:400;line-height: 100%;}
h3{display:inline-block;}

.portfolio {width: 100%;margin: 0 auto;padding: 20px;}
.portfolio .container {float: left;padding: 5px;/* clear: both; */width: 33.33%;/*height: 388px;*/position: relative;overflow: hidden;}
/*.portfolio .container .image {display: block;height: auto;overflow: hidden;}*/
.portfolio .container .image {display: block;overflow: hidden;width: 100%;}
.portfolio .container a{color:#000;display: block;overflow: hidden;}
/*.portfolio .container .text {position: absolute;top: 5px;left: 20px;width: 60%;padding: 10px;background-color: rgba(255, 222, 0, 0.8);transition: background-color ease 0.5s;font-size: 1em;line-height:120%;z-index: 1;}
.portfolio .container:hover .text{background-color: rgba(255, 222, 0, 1); transition: background-color ease 1s;}*/
.portfolio .container .text {position: absolute;top: 5px;left: 20px;width: 60%;padding: 10px;background-color: rgba(255, 222, 0, 1);transition: background-color ease 0.5s;font-size: 1em;line-height:120%;z-index: 1;opacity:0;}
.portfolio .container:hover .text{opacity:1; transition: opacity ease 2s;}

.paging {width: 100%;padding: 20px 30px;border-top: 1px solid rgb(255, 67, 56);background-color: rgb(231, 231, 231);}
.paging .text {width: 100%;margin: 0 auto;font-size: 1em;line-height: 1.58;text-align: center;}
.paging .text a{border-bottom: none;}
/*.paging .text a:hover {background-color: transparent;color: #FF4338;}*/
.list-link-download a:hover,
.paging .text a:hover
{ background-color: rgb(255, 222, 0); color: #000;}
.paging .text a.no-link:hover {background: transparent;}

a.no-link, a.no-link:hover {color: #000 !important;}
.prev-pagging {font-size: 22px;}
.notify{display:none;}
.notify.error, .notify.success{display:block;-webkit-transition: display 5s;transition: display 5s;}
.notify p {color: red;}
.notify.success p {color: #13B113;}
img.blur{-webkit-filter: blur(25px);-moz-filter: blur(25px);-o-filter: blur(25px);-ms-filter: blur(25px);filter: blur(25px);}
/*===== Default End =====*/
/*===== Header Start =====*/
.header{position:fixed;top:0;left:0;right:0;z-index:60;width:100%;height:55px;border-top:5px solid #fff;overflow:visible;margin:0 auto;} 
.header.header-ready{border-top-color:#ff4338;}
#nprogress .bar{background: #ff4338; height: 5px;}
#nprogress .peg{box-shadow: 0 0 10px #ff4338, 0 0 5px #ff4338;}
#nprogress .spinner{display:none;}

.l {position: relative;float: left;width: 9%;height: 50px;margin-left: 2.99154%;background-image: url('../images/lumonata-logo-L.svg'), none;background-repeat: no-repeat, no-repeat;background-size: auto 20px, auto 20px;background-position: center center, center center;background-attachment: scroll, scroll;}
.u {position: relative;float: left;width: 12%;height: 50px;background-image: url('../images/lumonata-logo-U.svg'), none;background-repeat: no-repeat, no-repeat;background-size: auto 20px, auto 20px;background-position: center center, center center;background-attachment: scroll, scroll;}
.m {position: relative;float: left;width: 13.5%;height: 50px;background-image: url('../images/lumonata-logo-M.svg'), none;background-repeat: no-repeat, no-repeat;background-size: auto 20px, auto 20px;background-position: center center, center center;background-attachment: scroll, scroll;}
.o {position: relative;float: left;width: 12%;height: 50px;background-image: url('../images/lumonata-logo-O.svg'), none;background-repeat: no-repeat, no-repeat;background-size: auto 20px, auto 20px;background-position: center center, center center;background-attachment: scroll, scroll;}
.n {position: relative;float: left;width: 12%;height: 50px;background-image: url('../images/lumonata-logo-N.svg'), none;background-repeat: no-repeat, no-repeat;background-size: auto 20px, auto 20px;background-position: center center, center center;background-attachment: scroll, scroll;}
.a {position: relative;float: left;width: 12%;height: 50px;background-image: url('../images/lumonata-logo-A.svg'), none;background-repeat: no-repeat, no-repeat;background-size: auto 20px, auto 20px;background-position: center center, center center;background-attachment: scroll, scroll;}
.t {position: relative;float: left;width: 12%;height: 50px;background-image: url('../images/lumonata-logo-T.svg'), none;background-repeat: no-repeat, no-repeat;background-size: auto 20px, auto 20px;background-position: center center, center center;background-attachment: scroll, scroll;}

.header .logo:hover .l {background-image: none, url('../images/B.svg');}
.header .logo:hover .u {background-image: none, url('../images/A.svg');}
.header .logo:hover .m {background-image: none, url('../images/C.svg');}
.header .logo:hover .o {background-image: none, url('../images/K.svg');}
.header .logo:hover .n {background-image: none, url('../images/H.svg');}
.header .logo:hover .a:nth-child(6) {background-image: none, url('../images/O.svg');}
.header .logo:hover .a:nth-child(8) {background-image: none, url('../images/E.svg');}
.header .logo:hover .t {background-image: none, url('../images/M.svg');}


#topmenu {display: none;position: fixed;float:left;clear:both;width:100%;height: 100%;background-color:rgba(255,67,56,0.97);top: 55px;}
#topmenu .menu{display: block;background: none;position: absolute;top: 20%;bottom: 20%;height: auto;} 
#topmenu .menu li a{opacity:0; -webkit-transition: opacity  ease-out 0.3s; -moz-transition: opacity ease-out 0.3s;-o-transition: opacity ease-out 0.3s;transition: opacity ease-out 0.3s;}
#topmenu.show-topmenu .menu li a{opacity:1; -webkit-transition: opacity  300ms ease-out 0.1s; -moz-transition: opacity 300ms  ease-out 0.1s;-o-transition: opacity 300ms  ease-out 0.1s;transition: opacity 300ms  ease-out 0.1s;}

#topmenu li a{display:block;width:100%;font:normal 1.125em/1.28 CoreSansA65Bold; font-size:2.667em;/* line-height: 296%; */text-align:center;color:#fff;/* margin:0 auto; */position: absolute;top: 50%;margin-top: -33px;height: 100%;}
#topmenu li:hover{background:#fff;}
#topmenu li:hover a{color: #FF483D;}
#topmenu li{height:25%;position: relative;padding:0px;}
#topmenu li:first-child {margin-top:0px;}
/*#topmenu li:first-child a {top: 80%;}
#topmenu li:nth-child(3) a {top: 25%;}
#topmenu li:last-child a {top: 0%;}*/
.header .nav{position:relative;float:left;/*z-index:50;*/width:10%;height:50px;border-left:2px solid #ff4338;} 
.header .nav a {display:block;margin: 0 auto;width: 100%;padding: 22px 9px;height: 100%;}
.header .nav .menui {background: #FF4338;}
.header .nav .top-animate {background: #FF4338 !important;}
.header .nav .bottom-animate {background: #FF4338 !important;}
.header .nav .top-menu {height: 3px;top: 7px;-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.header .nav .mid-menu {height: 3px;top: 14px;-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.header .nav .bottom-menu {height: 3px;top: 21px;-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.header .nav .menui {left: 50%;margin-left: -12.5px;}


.header .contact{position:relative;/*z-index:52;*/width:10%;height:50px;border-left:2px solid #ff4338;} 
.header .contact{float:left;} 
.header .contact .image{position:absolute;top:0;bottom:0;left:0;right:0;/*z-index:51;*/width:25px;margin:auto;}
.header .logo{position:relative;float:left;/*z-index:49;*/width:80%;} 
.header .logo-fix{position:absolute;top:-300px;left:0;/*z-index:54;*/width:19%;height:58px;} 
.header .logo-fix .image{position:absolute;top:0;bottom:0;left:0;right:0;/*z-index:53;*/width:180px;margin:auto;}  
.header .js-link {cursor:pointer;}
code, kbd, pre, samp {font-family: monospace,serif;font-size: 1em;}
/*===== Header End =====*/
/*===== Content Start =====*/
	.content{margin-top:200px;}
	.content img{background-color: rgb(192, 192, 192);border: none;}
	/*===== Home Page Start =====*/
	.content.home .description {position: relative;/*z-index: 40;*/max-width: 750px;margin: 0 auto;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;}
	.content.home .description h1{padding-bottom: 30px; letter-spacing: -1.2px;line-height:100%;}
	.content.home .description p{clear: both;width: 90%;font: 1em/1.40 'Core Sans A 45 Regular'; }
	/*.content.home .description p a{text-decoration:underline;}*/
	
	.content.home .portfolio .container:nth-child(1), .content.home  .portfolio .container:nth-child(2) {width: 50%; overflow: hidden;max-height: 585px;}
	/*.content.home .portfolio .container:nth-child(1), .content.home  .portfolio .container:nth-child(2) {width: 49.46%;overflow: hidden;max-height: 585px;}*/
	/*.content.home .portfolio .container:nth-child(1) .text, .content.home .portfolio .container:nth-child(2) .text{font-size: 1.778em;-webkit-transition: background-color 400ms linear;-moz-transition: background-color 400ms linear;-o-transition: background-color 400ms linear;-ms-transition: background-color 400ms linear;transition: background-color 400ms linear;}*/
	.content.home .portfolio .container:nth-child(1) .text, .content.home .portfolio .container:nth-child(2) .text{font-size: 1.778em;}
	.content.home .paging {position: relative;  width: 100%;  margin: 0 auto;  padding: 10px 15px 30px; /*border-bottom: 5px solid rgb(255, 67, 56);*/border-top: none;background-color: #fff;}
	.content.home .paging .text {margin: 0 auto;  font-size: 1em;  line-height: 1.58;  text-align: center;}
	.content.home .paging .text:hover {line-height: 1.58;}
	.content.home .paging .text a:hover { background-color: #ffde00; color: inherit;}
	.content.home .portfolio .container .image{ max-height: 575px;}
	/*===== Home Page End =====*/
	/*===== Works Start =====*/
	.works .filter .text { float: left;width: 100%;padding-right: 10px;padding-left: 10px;text-align: center;}
	.works .filter .text-2 {font: 1em/1.4 CoreSansA45Regular;}
	#fillter-container {max-width: 80%;width: 1040px;float: none;margin: 0 auto;line-height: 200%; padding: 0px;}
	.works  h1{padding-bottom: 30px;}
	.works .portfolio {margin-top:40px;position:relative;}
	.works .portfolio.load-image:before {display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: url('../images/loader.gif') no-repeat center center rgba(255,255,255,0.9); z-index: 1;}
	.works .filter .text a.current-filter {color: #000;border-bottom: none;}
	/*===== Works End =====*/
	/*===== Works Detail Start =====*/
	.content.works-detail {position: relative;z-index: 24;width: 93%;max-width: 1280px;margin: 200px auto 0;/* padding-right: 20px; */padding-bottom: 20px;/* padding-left: 20px; */ font: normal 0.875em/1.38 CoreSansA45Regular;}
	.content.works-detail .container-2 {width: 80%;max-width: 900px;margin-left: 10%;padding-bottom: 30px;font: normal 0.875em/1.38 CoreSansA45Regular;}
	.content.works-detail .container-2 h1{width: 100%;padding-right: 5px;padding-bottom: 20px;padding-left: 5px;/*border-bottom: 3px solid rgb(255, 67, 56);*/font: 400 4.286em/1 'Core Sans A 65 Bold';color: rgb(0, 0, 0);}
	.content.works-detail .container-2 .text-2 {position: relative;clear: both;width: 90%;padding-top: 20px;padding-right: 5px;padding-left: 5px;font-size: 18px;line-height: 1.4;color: rgb(0, 0, 0);float: left;}
	
	.content.works-detail .container-2 .text-2  p{margin: 0 auto 50px;display: block;}
	.content.works-detail .container-2 .text-2  img {width: 100%;max-width: 1000px;margin-bottom: 50px;}
	.content.works-detail .container-2 .text-2  em {font-style: italic;font-family: 'CoreSansA45Regular-Italic';}
	.content.works-detail .container-2 .text-2  ul {width: 88%; max-width: 800px;margin: 0 auto 50px 20px;}
	.content.works-detail .container-2 .text-2  ul li {list-style-type: disc;margin-bottom: 15px;}
	.content.works-detail .container-2 .text-2  blockquote {background-color: rgb(240, 240, 240);width: 88%;max-width: 800px;margin: 0 auto 50px;padding: 55px 30px 20px 75px;position: relative;font-family: CoreSansA45Regular-Italic;font-size: 1.333em;}
	.content.works-detail .container-2 .text-2 blockquote:before {content: "\201C";font: 2.6em/1.38 CoreSansA65Bold;position: absolute;top: 35px;left: 25px;}
	.content.works-detail .container-2 .text-2 blockquote p {max-width: 100%;width:100%;}
	
	
	.content.works-detail .container-2 .text-3 {float: left;position: relative;width: 25%;margin-left: 5%;padding: 20px;border-left: 3px solid rgb(255, 67, 56);font-size: 1.286em;line-height: 1.4;text-align: center;color: rgb(255, 67, 56);}
	.content.works-detail .container-2 .text-3 a {color: rgb(255, 67, 56);}
	.content.works-detail .container-2 .text-3 a:hover {background-color: rgb(255, 222, 0);color: #000;}
	.content.works-detail .container-3 img.medium{display:none !important;}
	.content.works-detail .container-3 img.small{display:none;}
	
	.content.works-detail .container-4 {width: 100%;margin-top: 30px;padding-top: 20px;padding-bottom: 20px;border-top: 1px solid rgb(255, 67, 56);font-size: 14px;}
	.content.works-detail .container-5 {width: 25%;padding-right: 20px;padding-left: 15px;float: left;}
	.content.works-detail .container-6 {width: 25%;padding-right: 15px;padding-left: 20px;float: left;}
	.content.works-detail .container-7 {padding-right: 22px;padding-left: 25px;}
	.content.works-detail .container-8 {padding-right: 25px;padding-left: 22px;}
	.content.works-detail .text-5, .content.works-detail .text-7, .content.works-detail .text-9 {clear: both;width: 100%;font-size: 14px;font-weight:400;line-height: 1.58;color: rgb(0, 0, 0);    margin-bottom: 10px;}
	.content.works-detail .text-5 a {border-bottom: none;}
	.content.works-detail .text-4 {width: 100%;font: 400 1em/1.58 'Core Sans A 65 Bold';color: rgb(0, 0, 0);}
	.content.works-detail .text-11, .content.works-detail .text-6, .content.works-detail .text-8 {clear: both;width: 100%;/*margin-top: 10px;*/font: 400 1em/1.58 'Core Sans A 65 Bold';color: rgb(0, 0, 0);}
	.content.works-detail .text-10 {width: 100%;font: 400 1em/1.58 'Core Sans A 65 Bold';color: rgb(255, 67, 56);margin-bottom: 10px;}
	.content.works-detail .text-10 a {text-decoration: none;border-bottom: none;margin-bottom: 10px;}
	.content.works-detail .text-10 a:hover {color: #000;}
	.content.works-detail .text-12 {width: 100%;margin-top: 5px; margin-bottom: 20px;font-size: 1em;line-height: 2.08;}
	.content.works-detail .text-12 a {border-bottom: 0px;}
	.works-detail-pagging.paging {position: relative;padding: 0px;z-index: 4;width: 100%;margin: 0 auto;border-top: 1px solid rgb(255, 67, 56);/*border-bottom: 5px solid rgb(255, 67, 56);*/background-color: rgb(231, 231, 231);}
	.works-detail-pagging.paging .container {float: left;width: 50%;padding-top: 15px;padding-bottom: 15px;}
	.works-detail-pagging.paging .text {width: 100%;font: 400 0.9em/1.38 'Core Sans A 65 Bold';text-align: center;color: rgb(255, 67, 56);}
	
	body.ready-load .portfolio-style-double .colum-image, body.not-ready .portfolio-style-double .colum-image {width: 49%;float: left;overflow: hidden;}
	.portfolio-style-double .colum-image:first-child {margin-right: 1%;}
	.portfolio-style-double .colum-image:last-child {margin-left: 1%;}
	.colum-image img{max-width:100%;width: 100%;}
	.portfolio-style-double:after {content: "";display: table;clear: both;}
	.portfolio-image-style {margin-bottom: 1.6%;overflow: hidden;}
	/*===== Works Detail End =====*/
	/*===== Detail Page Start =====*/
	.content.page {font: normal 1.125em/1.4 CoreSansA45Regular;}
	.content.page h1{margin-left: 6%;font:400 3.333em 'Core Sans A 65 Bold';}
	/*.content.page h1 {font: 400 3.333em/0.7 'Core Sans A 65 Bold';line-height: 100%;width: auto;float: left;}*/
	
	.description-page {width: 85%;max-width: 1200px;margin: 50px 0 0 6%;font-size: 1.6em;font-weight: 400;}
	/*===== Detail Page End =====*/
	/*===== About Page Start =====*/
	.custom-content {width: 80%;max-width: 1200px;margin: 80px 0 0 6%;padding-bottom: 30px;font: 400 1.333em/1.18 'Core Sans A 65 Bold'; margin-bottom: 20px;}
	.team {float: left;width: 30%; padding-bottom: 15px;border-bottom: 2px solid rgb(255, 67, 56);margin-right: 3.333%;margin-bottom:20px;text-align: center;}
	.team .thumb {overflow: hidden;}
	.team img {max-width: 300px;max-height: 100%;width: 100%;height: auto;}
	.list-team {max-width: 1000px;}
	.list-team .team:nth-child(n3) {margin-right:0;}
	.title-team {margin-bottom: 30px;font: 400 0.9em'Core Sans A 65 Bold';line-height: 100%;}
	.name {width: 100%;margin-top: 10px;font: 400 0.7em 'Core Sans A 65 Bold';text-align: center;}
	.job {margin-top: 5px;line-height: 1.38;text-align: center;font:normal 0.53em/1.4 CoreSansA45Regular;}	
	.job span {width: 85%;display: block;margin: 0 auto;}
	.service {margin-top: 40px;margin-bottom: 50px;}
	.service h3{margin-bottom: 30px;font-size: 24px;}
	.service p {font-size: 14px;font: normal 0.66em/1.4 CoreSansA45Regular;margin-bottom: 10px;}
	.service strong{font-family: 'Core Sans A 65 Bold';}
	.service span {color: rgb(0, 0, 0);}
	/*===== About Page End =====*/
	/*===== Contact Page Start =====*/
	.content.page.contact h1 {width: 100%;margin: 0 auto;padding-bottom: 100px;font: 400 3.333em/1 'Core Sans A 65 Bold';text-align: center;}
	.content.page.contact .container-2 {width: 96%;max-width: 1500px;margin: 0 auto;}
	.content.page.contact .container-3 {float: left;width: 50%;max-width: 750px;padding-right: 30px;padding-bottom: 50px;padding-left: 30px;}
	.content.page.contact .container-4 {float: left;width: 50%;padding-right: 30px;padding-left: 30px;}
	.content.page.contact .container-4 p.text-12, .content.page.contact .container-3 p.text-2 {float: left;width: 100%;/*padding-bottom: 10px;border-bottom: 3px solid rgb(255, 67, 56);*/font: 400 1.2em/1.2 'Core Sans A 65 Bold';margin-top: 0px;margin-bottom: 30px;padding-left: 0px;}
	.content.page.contact .container-3 p{margin-top: 30px;float:none;font-size: 0.88em;font-weight: 400;padding-left: 0px;}
	.content.page.contact .container ._textarea-2, .content.page.contact .container ._textarea-3 {height: 100px;}
	.content.page.contact .container ._textarea-4 {height: 250px; margin-bottom: 30px;}
	._input {display: block;width: 100%;height: 40px;margin-top: 10px;padding: 5px 10px;background-color: rgb(242, 242, 242);font-size: 0.88em;font-weight: 400;line-height: 1.38;color: rgb(0, 0, 0);}
	._textarea {width: 100%;margin-top: 10px;padding: 5px 10px;background-color: rgb(242, 242, 242);font-size: 0.88em;font-weight: 400;color: rgb(0, 0, 0);resize: none;}
	._button {height: 63px;margin-top: 30px;background-color: rgb(255, 222, 0);font: 400 1em/1.38 'Core Sans A 65 Bold';text-align: center;color: rgb(0, 0, 0);padding: 0 50px;}
	._select {width: 100%;height: 40px;margin-top: 10px;padding: 5px 10px;background: url('../images/select-arrows.svg') rgb(242, 242, 242);background-repeat: no-repeat;background-size: auto auto;background-position: right center;font-size: 0.88em;font-weight: 400;color: rgb(0, 0, 0);}
	._input.error, ._textarea.error{background: #F79792;}
	._select.error {background-color: #F79792;  color: #fff;}
	a.link-telp {color: #000;border-bottom: none;}
	a.link-telp:hover {background: none;border-bottom: none;}
	.contact.page .text.text-13 {max-width: 750px;padding-left:0px;padding-bottom: 50px;font-family: CoreSansA45Regular;font-size: 0.88em;font-weight: normal;}
	.contact.page .wrapper {width: 100%;height: 500px;overflow: hidden;}
	.contact.page .wrapper iframe ,#map{pointer-events: none;}
	.content.page.contact .container-3 .text-10 {margin-top: 5px;font: normal 0.6em/1.38 CoreSansA45Regular;}
	.content.page.contact .text-14 {width: 100%;padding-top: 60px;/*padding-bottom: 10px;border-bottom: 3px solid rgb(255, 67, 56);*/font: 400 1.2em/1.38 'Core Sans A 65 Bold';padding-left:0px;float: none;}
	.contact.page .text.text-15 {width: 100%;max-width: 750px;padding-top: 25px;padding-bottom: 30px;font: normal 0.88em/1.58 CoreSansA45Regular;padding-left: 0px;}
	.contact.page .text.text-15 a {border-bottom: none;}
	
	._input.error::-webkit-input-placeholder, ._textarea.error::-webkit-input-placeholder {color: #fff;}
	._input.error:-moz-placeholder, ._textarea.error:-moz-placeholder{color: #fff;}
	._input.error::-moz-placeholder, ._textarea.error::-moz-placeholder {color: #fff;}
	._input.error:-ms-input-placeholder, ._textarea.error:-ms-input-placeholder {color: red;}
	
	button.progress-button.custom .content {margin-top: 0px;}
	button.progress-button.custom {line-height: 3.5;margin-top: 30px;text-transform: inherit;font-family: 'Core Sans A 65 Bold';font-size: 0.9em;background-color: rgb(255, 222, 0);color:#000;padding: 0 51px;}
	.progress-button.state-error .content::before, .progress-button.state-error .content::after {color: #FF0000;}
	.progress-button .progress .progress-inner {background: #000;}
	
	.custom-checkbox{display:block;position: relative;}	
	.custom-checkbox:after {content: "";display: table;clear: both;margin-bottom: 30px;}
	.custom-checkbox input[type="checkbox"] {opacity:0;width:0px; height:0px;}
	.custom-checkbox .label {/* margin: 2px 0 0 0; */float: left;padding-left: 29px;font-size: 17px;}
	.custom-checkbox .icon-checkbox {width: 26px; height: 16px;background-position:-466px -37px;/* margin: 3px 15px 0 0; */background:url('../images/checkbox.png') no-repeat;background-size: 50px;display: block;float: left;position: absolute;top: 4px;}
	.custom-checkbox  input[type="checkbox"]:checked + .icon-checkbox { background-position: -26px 0;}
	#map{height:100%;}
	
	/*===== Contact Page End =====*/
	/*===== Blog Start=====*/
	/*.content.blog {margin-left: 6%;width: 88%;padding-bottom: 60px;}
	.content.blog .text-2 {margin-top: 20px;font: 400 1em/2 'Core Sans A 45 Regular';}
	.content.blog .search_input {height: 50px;margin: 50px 0 50px 0;border-bottom: 1px solid rgb(0, 0, 0);background-image: url('../images/enter-ico.svg');background-repeat: no-repeat;background-size: 20px auto;background-position: 99% 50%;background-color: #fff;font: 1.7em/1.7 CoreSansA45Regular;color: rgb(0, 0, 0);padding: 0px;width: 100%;}
	.list-blog {width: 100%;max-width: 1200px;font-size: 1em;margin-bottom:30px;}
	.list-blog a{ font: normal 1.8em/2.4 CoreSansA65Bold;color: #FF4338;border-bottom: solid 2px;}
	.list-blog a:hover{background-color: rgb(255, 222, 0);color: #000;}
	.list-blog span{ font: normal 1.8em/1.4 CoreSansA65Bold;color:#000;}
	.more-blog {border-bottom: 1px solid rgb(255, 67, 56);color: rgb(255, 67, 56);font: 400 01em/1.4 'Core Sans A 45 Regular';}
	.more-blog:hover {border-bottom-color: rgb(0, 0, 0);background-color: rgb(255, 222, 0);color: inherit;}
	.year-blog {font: 400 1em/1.4 'Core Sans A 45 Regular';padding-top: 10px;}
	.block-list-blog {position: relative;}
	.loader-blog {position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: url('../images/loader.gif') no-repeat center center rgba(255,255,255,0.9);display:none;}
	.content.blog .text-2 .current-filter {color: #000;border-bottom: none;}*/
	.content.blog-detail h2 {max-width: 1000px;margin: 0 auto;text-align: center;font: 400 2em/1 'Core Sans A 65 Bold';width: 90%;}
	.content.blog-detail h2 a {color: #000;}
	.content .detail-blog h2{text-align: left; font: 300 1em/1.2 'Core Sans A 65 Bold';width: 88%;max-width: 800px;margin: 0 auto 20px;display: block;overflow: hidden;}
	.list-blog .detail-blog {border-bottom: solid 1px #FF4338;}
	.list-blog .blog-detail:last-child .detail-blog {border-bottom: none;}
	/*.nav-links {width: 1000px;margin: 0 auto 60px;text-align: center;padding: 10px 0;border: solid 1px #FF4338;}*/
	.nav-links {width: 90%;max-width: 1000px;margin: 0 auto 60px;text-align: center;padding: 10px 0;border: solid 1px #FF4338;}
	.nav-links a {margin: 0 5px;color: #FF4338;}
	.page-numbers {margin: 0 5px;}
	
	.panel-search {width: 90%;max-width: 1000px;margin: 120px auto 0px;position:relative}
	.search_input {height: 50px;border-bottom: 1px solid rgb(0, 0, 0);background-image: url('../images/enter-ico.svg');background-repeat: no-repeat;background-size: 20px auto;background-position: 99% 50%;background-color: #fff;font: 1.7em/1.7 CoreSansA45Regular;color: rgb(0, 0, 0);padding: 0px;width: 100%;display: block;margin:0;    padding-right: 40px;}
	.container-list-blog .content:first-child {margin-top: 100px;}
	.btn-panel-search {position: absolute;left: inherit;right: 0; top: 0; width: 45px; height: 50px;}
	
	.page-not-found {padding: 100px 0 150px;width: 80%;max-width: 1000px;margin: 0 auto;}
	.page-not-found h1 {text-align: center;margin: 1em 0;font-size:70px !important;}
	.page-not-found h1 a {color: #000;}
	.page-not-found p {text-align: center;margin-bottom: 10px;}
	.page-not-found p {font-family: CoreSansA45Regular;line-height: 160%;}
	.p-link-home {margin-top: 30px;}
	/*===== Blog End=====*/
	/*===== Blog Detail Start=====*/
	.content.blog-detail {font: normal 1.3em/1.4 CoreSansA45Regular;}
	.content.blog-detail h1{max-width:1000px; margin:0 auto; text-align:center;font: 400 2.5em/1 'Core Sans A 65 Bold';width: 90%;}
	.content.blog-detail .posted-in {width: 88%;margin:20px auto 80px;    font: 400 0.583em/2 'Core Sans A 45 Regular';text-align: center;}
	.content.blog-detail .posted-in span {color: rgb(128, 128, 128);}
	.detail-blog {width: 90%;max-width: 1000px;margin: 0 auto;}
	.detail-blog p{width: 88%;max-width: 800px;margin: 0 auto 50px;display: block;}
	.detail-blog > div {width: 88%;max-width: 800px;margin: 0 auto 50px;display: block;}
	.detail-blog img {width: 100%;max-width: 1000px;margin-bottom: 50px;}
	.detail-blog em {font-style: italic;font-family: 'CoreSansA45Regular-Italic';}
	.detail-blog ul {width: 88%; max-width: 800px;margin: 0 auto 50px;}
	.detail-blog ul li {list-style-type: disc;margin-bottom: 15px;}
	.detail-blog blockquote {background-color: rgb(240, 240, 240);width: 88%;max-width: 800px;margin: 0 auto 50px;padding: 55px 30px 20px 75px;position: relative;font-family: CoreSansA45Regular-Italic;font-size: 1.333em;}
	.detail-blog blockquote:before {content: "\201C";font: 2.6em/1.38 CoreSansA65Bold;position: absolute;top: 35px;left: 25px;}
	.detail-blog blockquote p {max-width: 100%;width:100%;}
	
	

	.detail-blog ol li {list-style-type: initial;margin-bottom: 15px;}
	.detail-blog ul li ul {width: auto;margin: 10px 0 10px 25px;}
	.detail-blog ol li ol{width: auto;margin: 10px 0 10px 25px;}
	.detail-blog strong{font-weight:600;}
	.detail-blog table {width: 100%;margin: 0 auto 50px;line-height: 200%;}
	.detail-blog br {content: "";display: block;margin-bottom: 50px;}
	.detail-blog pre{width: 88%;max-width: 800px;margin: 0 auto 50px;}
	
	
	.pagging-blog-detail {border-top: 1px solid rgb(255, 67, 56);margin: 0 auto 30px;padding-top: 20px;font: 400 0.75em/2 'Core Sans A 45 Regular';width: 79%;      max-width: 800px;}
	.pagging-blog-detail a{border-bottom: 1px solid rgb(255, 67, 56);background-color: transparent;color: rgb(255, 67, 56);}
	.pagging-blog-detail a:hover{border-bottom-color: rgb(0, 0, 0);background-color: rgb(255, 222, 0);color: inherit;}
	
	.container-suscribe {width: 88%;max-width: 800px;margin: 0 auto 40px;border-top: 1px solid rgb(255, 67, 56);padding-top: 40px;}
	.progress-button.custom {line-height: 3;margin-top: 30px;text-transform: inherit;font-family: 'Core Sans A 65 Bold';font-size: 0.9em;background-color: rgb(255, 222, 0);color:#000;padding: 0 51px;}
	.container-suscribe  .desc {margin-bottom: 30px;}
	.container-suscribe  ._input {width: 75%;}
	.container-suscribe  .field {margin-bottom: 30px;}
	.container-suscribe  .notify{color: red;margin-top: 20px;font-size: 19px;}
	.container-suscribe  .notify.success {color: #13B113;}
	
	.signup-newsletter .capcha-container {width: 100%;max-width: inherit;}
	#disqus_thread{max-width:800px; margin:0 auto 50px;width: 88%;padding-top: 30px;border-top: 1px solid rgb(255, 67, 56);}
	/*===== Blog Detail End=====*/
	/*===== Blog Not Ready Start=====*/
	.content.blog-detail.blog-not-ready h1 {margin-bottom: 80px;}
	.content.blog-detail.blog-not-ready p {margin-bottom: 10px;max-width: 600px;}
	.content.blog-detail.blog-not-ready .detail-blog > p{margin-bottom:30px;}
	.capcha-container {width: 88%;max-width: 600px;margin: 20px auto 10px;}
	.capcha-container.capcha-not-ready{width: 88%;max-width: 600px;margin: 20px auto 10px;}
	.content.blog-detail.blog-not-ready .detail-blog {margin-bottom: 100px;}
	.content.blog-detail.blog-not-ready p.row-style {margin-bottom: 30px;}
	.content.blog-detail.blog-not-ready p.row-style-2 {margin-bottom: 40px;}
	/*===== Blog Not Ready End=====*/
/*===== Content End =====*/
/*===== Footer Start =====*/
.footer{position:relative;/*z-index:10;*/width:100%;border-top: 5px solid #ff4338;border-bottom:10px solid #ff4338;margin:0 auto;/*padding:50px 15px;*/padding:50px 0px;} 
.content-container{width:93%;max-width:1280px;padding-top: 50px;border-top: 1px solid #ff4338;margin:0 auto;} 
.social-media{float:left;width:50%;padding-left:15px;} 
.content-container .contact{width:50%;float: left;} 
.footer-menu {margin: 15px 0 0 0;}
.footer-menu li { width: 50%; padding-right: 30px; font: .889em/1.88 CoreSansA45Regular;display: inline-block;}
.footer-menu li a {color: #ff4338;}
.footer-menu li a:hover{background-color: rgb(255, 222, 0); color: inherit;}
.contact .text{float:left;padding-left:15px;} 
.contact .text.text-15 {margin-bottom: 15px;float: none;}
.address{position:relative;clear:both;/*z-index:0;*/width:50%;padding-right:30px;float: left;}
.address .text-16{font:.889em/1.88 CoreSansA45Regular;/* width:100%; */float: none;} 

.text-17{width:50%;padding-right:30px;font:.889em/1.88 CoreSansA45Regular;margin-top: 30px;} 
.text-18{width:100%;min-height:24px;padding-bottom: 50px;padding-right:30px;padding-left:30px;font:400 2em/1.38 'Core Sans A 65 Bold';text-align:center;margin:0 auto;} 
.text-18 a{border-bottom:2px solid #ff4338;} 
p.text-18 a:hover {border-bottom: 2px solid #000;}
p a{color:#ff4338;border-bottom: solid 1px #ff4338;} 
p a:hover{background-color:#ffde00;color:inherit;border-bottom:solid 1px #000;} 
.phone-email a {color:#ff4338;border-bottom: solid 1px #ff4338;} 
/*.phone-email :hover{background-color:#ffde00;color:inherit;border-bottom:solid 1px #000;} */

.footer .download {float: left; width: 50%;padding-left: 50px;}
.cont-download {margin-top: 15px;/*font-size: 16px;*/}
.cont-download p {font: .889em/1.88 CoreSansA45Regular;}
.cont-download p {/*margin-bottom: 10px;*/}
.list-link-download a {font: .889em/1.88 CoreSansA45Regular;color: #FF4338;margin-right: 60px;}


/*===== Footer End =====*/
/*===== Ready && Not Ready Start =====*/
body.not-ready {}
body.not-ready h3 {background: #f0f0f0;}
body.not-ready h3 span{opacity:0;}
body.not-ready {}


body.not-ready .content.home h1 {background: #f0f0f0;text-indent: -9999px;margin-bottom: 20px;}
body.not-ready .content.home .description p {background: #f0f0f0;text-indent: -9999px;}

/*body.not-ready .container-h1 {background: #f0f0f0;}
body.not-ready .content.page h1 {opacity: 0;}*/

body.not-ready .content.page h1 span {background: #f0f0f0;position: relative;}
body.not-ready .content.page h1 span:before {display: inline-block;content:"";position: absolute;background: #f0f0f0;top: 0;left: 0;right: 0;bottom: 0;}

body.not-ready .description-page p {background: #f0f0f0;text-indent: -9999px;min-height: inherit;}

body.not-ready .name span {display: inline-block;background: #f0f0f0;text-indent: -9999px;}
body.not-ready .job span {display: inline-block;background: #f0f0f0;text-indent: -9999px;min-width: 100px;}
body.not-ready .service p {background: #f0f0f0;text-indent: -9999px;}
/*body.not-ready .content.page h1 {max-width: 200px; line-height: 170%; text-indent:0;opacity:0;}*/

body.not-ready .content.blog h1 span{background:#f0f0f0;}
body.not-ready .content.blog .text-2 {text-indent: -9999px;background: #f0f0f0;float: left;}
.not-ready.list-blog a {background: #f0f0f0;text-indent: -9999px;}
.not-ready.list-blog a  t{opacity:0;}
button.more-blog.not-ready {background: #f0f0f0;text-indent: -9999px;border-bottom: none;}

body.not-ready .content.blog-detail h1 {background: #F0F0F0;text-indent: -9999px;}
body.not-ready .content.blog-detail .posted-in{position:relative;}
body.not-ready .content.blog-detail .posted-in p {margin: 0;background: #F0F0F0;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);text-indent: -9999px;}
body.not-ready .detail-blog p, body.not-ready .detail-blog span {background: #F0F0F0;text-indent: -9999px;position: relative;/* font-size: 0px; */line-height: 120%;display: inherit;}
body.not-ready .detail-blog ul {background: #f0f0f0;text-indent: -9999px;}
body.not-ready .detail-blog blockquote:before {display: none;}
body.not-ready .detail-blog img{background: #F0F0F0;width:100%; height:auto;}

body.not-ready h2 {background: #F0F0F0;text-indent: -9999px;}
body.not-ready .detail-blog ol li {background: #F0F0F0;text-indent: -9999px;}
body.not-ready .detail-blog ul li ul {background: #F0F0F0;text-indent: -9999px;}
body.not-ready .detail-blog ol li ol{background: #F0F0F0;text-indent: -9999px;}
body.not-ready .detail-blog strong{background: #F0F0F0;text-indent: -9999px;}
body.not-ready .detail-blog table {background: #F0F0F0;text-indent: -9999px;}
body.not-ready .detail-blog pre{background: #F0F0F0;text-indent: -9999px;}


body.not-ready .pagging-blog-detail p {background: #f0f0f0;text-indent: -9999px;}

body.not-ready .content.page.contact p span{background:#f0f0f0;}
body.not-ready t {opacity: 0;}
/*body.not-ready ::-webkit-input-placeholder {opacity:0;}
body.not-ready :-moz-placeholder {opacity:0;}
body.not-ready ::-moz-placeholder {opacity:0;}
body.not-ready :-ms-input-placeholder {opacity:0;}*/
body.not-ready  option{opacity:0;}
body.not-ready  select {text-indent: -999px;}
body.not-ready  textarea{text-indent: -9999px;}
/*===== Ready && Not Ready End =====*/

/*===== Ready Start =====*/
/*body.ready-load img {width: 100%;height: auto;}
body.ready-load .portfolio .container .image{height: auto;}
body.ready-load .team .thumb {height: auto;}*/
/*===== Ready End =====*/


@media screen and (min-width: 2000px) {
	.content.home .portfolio .container .image {max-height: inherit;}
	.content.home .portfolio .container:nth-child(1), .content.home  .portfolio .container:nth-child(2) {max-height: inherit;}
}


@media screen and (max-width: 1440px) {
/*===== Default Start =====*/
/*===== Default End =====*/
/*===== Header Start =====*/
/*===== Header End =====*/
/*===== Content Start =====*/
	/*===== Home Page Start =====*/
	/*===== Home Page End =====*/
	/*===== Detail Page Start =====*/
	/*===== Detail Page End =====*/
	/*===== Works Detail Start =====*/
/*	.cont-download p {margin-bottom: 5px;}*/
	/*===== Works Detail End =====*/
	/*===== Contact Page Start =====*/
	/*===== Contact Page End =====*/
	/*===== Blog Start=====*/
	/*===== Blog End=====*/
/*===== Content End =====*/
/*===== Footer Start =====*/

/*===== Footer End =====*/

}



@media screen and (max-width: 1280px) {
/*===== Default Start =====*/
/*===== Default End =====*/
/*===== Header Start =====*/
/*===== Header End =====*/
/*===== Content Start =====*/
	/*===== Home Page Start =====*/
	/*===== Home Page End =====*/
	/*===== Detail Page Start =====*/
	/*===== Detail Page End =====*/
	/*===== Works Detail Start =====*/
	.content.works-detail .container-5{width:35%;}
	.content.works-detail .container-6{}
	/*===== Works Detail End =====*/
	/*===== Contact Page Start =====*/
	/*===== Contact Page End =====*/
	/*===== Blog Start=====*/
	/*===== Blog End=====*/
/*===== Content End =====*/
/*===== Footer Start =====*/

/*===== Footer End =====*/

}



@media screen and (max-width: 1024px) {
/*===== Default Start =====*/
/*===== Default End =====*/
/*===== Header Start =====*/
#topmenu li:hover{background:#FF483D;}
#topmenu li:hover a{color: #fff;}
/*===== Header End =====*/
/*===== Content Start =====*/
	/*===== Home Page Start =====*/
	/*===== Home Page End =====*/
	/*===== Detail Page Start =====*/
	/*===== Detail Page End =====*/
	/*===== Works Detail Start =====*/
	.content.works-detail .container-5{width:45%;}
	.content.works-detail .container-6{}
	/*===== Works Detail End =====*/
	/*===== Contact Page Start =====*/
	/*===== Contact Page End =====*/
	/*===== Blog Start=====*/
	/*===== Blog End=====*/
/*===== Content End =====*/
/*===== Footer Start =====*/
/*===== Footer End =====*/
}

@media screen and (max-width: 900px) {
	/*===== Default Start =====*/
	.portfolio .container {width: 50%;}
	/*===== Default End =====*/
	/*===== Header Start =====*/
	.l {margin-left: 2.97917%;}
	.m {width: 12%;}
	.o {width: 13%;}
	.header .logo{width: 75%;}
	.header .contact {width: 12.5%;}
	.header .nav {width: 12.5%;}
	/*#topmenu li a{font-size: 1.778em; line-height: 200%;height:auto; width:auto; position:relative;}*/
	/*===== Header End =====*/
	/*===== Content Start =====*/
		/*===== Home Page Start =====*/
		.content.home .portfolio .container:nth-child(1) .text, .content.home .portfolio .container:nth-child(2) .text {font-size: 1em;}
		/*===== Home Page End =====*/
		/*===== Works Start =====*/
		.works .filter .text-2 {line-height: 2;}
		/*===== Works End =====*/
		/*===== Works Detail Start =====*/
		.content.works-detail .container-3 img.large{display:none !important;}
		.content.works-detail .container-3 img.medium{display:block !important;}
		.content.works-detail .container-3 img.small{display:none;}
		.content.works-detail .container-2{width: 75%;margin-left: 20%;}
		/*===== Works Detail End =====*/
		/*===== Detail Page Start =====*/
		/*===== Detail Page End =====*/
		/*===== About Page Start =====*/	
		.team {width: 45%;margin-right: 10%;}
		.team:nth-child(2n) {margin-right: 0;}
		/*===== About Page End =====*/
		/*===== Contact Page Start =====*/
		.contact.page .wrapper {height: 350px;  }
		.g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
		/*===== Contact Page End =====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	.footer-menu li {padding-right: 0px;width: 100%;}
	.address.clearfix {float: none;width: 100%;}
	.contact .text.text-17 {float: none;width: 100%;margin-top: 0px;}	
	/*===== Footer End =====*/
}

@media screen and (max-width: 768px) {
	/*===== Default Start =====*/
	/*===== Default End =====*/
	/*===== Header Start =====*/
	/*===== Header End =====*/
	/*===== Content Start =====*/
		/*===== Home Page Start =====*/
		/*===== Home Page End =====*/
		/*===== Detail Page Start =====*/
		/*===== Detail Page End =====*/
		/*===== Works Detail Start =====*/
		/*===== Works Detail End =====*/
		/*===== Contact Page Start =====*/
		/*===== Contact Page End =====*/
		/*===== Blog Start=====*/
		.detail-blog img {height: auto !important;}
		.detail-blog table, .detail-blog thead, .detail-blog tbody,
		.detail-blog th, .detail-blog td, .detail-blog tr { display: block; }
		.detail-blog thead tr {position: absolute;top: -9999px;left: -9999px;}
		.detail-blog tr:first-child{display:none;}
		.detail-blog tr { border: 1px solid #ccc; border-bottom:none;}	
		.detail-blog td { /* Behave  like a "row" */border: none;border-bottom: 1px solid #eee; position: relative;padding-left: 50%;}
		.detail-blog td:before { /* Now like a table header */position: absolute;/* Top/left values mimic padding */left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}
		
		.detail-blog tr {border-top: none;}
		.detail-blog tr:nth-child(2n+1) {background: #EFEEEE;}
		.detail-blog tr:nth-child(2) {border-top: 1px solid #ccc;}
		
		.hosting-package-table td:nth-of-type(1):before { content: "Paket Hosting"; }
		.hosting-package-table td:nth-of-type(2):before { content: "Minimum Kontrak"; }
		.hosting-package-table td:nth-of-type(3):before { content: "Harga Diskon"; }
		/*===== Blog End=====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	.cont-download p span {display: table-row;padding: 0;margin: 0;height: 20px;line-height: 100%;}
	.cont-download p {line-height: 70%;margin-bottom: 2px;}
	.cont-download {margin-top: 22px;}
	.list-link-download a {display: block;margin-right: 0px;/*margin-bottom: 4px;*/}
	.footer .download {padding-left: 20px;}
	/*===== Footer End =====*/
}

@media(max-width: 700px) {
	/*===== Default Start =====*/
	
	/*===== Default End =====*/
	/*===== Header Start =====*/
	/*===== Header End =====*/
	/*===== Content Start =====*/
		/*===== Home Page Start =====*/
		/*===== Home Page End =====*/
		/*===== Detail Page Start =====*/
		/*===== Detail Page End =====*/
		/*===== Works Detail Start =====*/
		.content.works-detail .container-5{width:50%;}
		.content.works-detail .container-6{width:45%;}
		/*===== Works Detail End =====*/
		/*===== Contact Page Start =====*/
		/*===== Contact Page End =====*/
		/*===== Blog Start=====*/
		/*===== Blog End=====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	
	/*===== Footer End =====*/
}


@media(max-width: 640px) {
	/*===== Default Start =====*/
	.portfolio .container {width: 100%;}
	/*===== Default End =====*/
	/*===== Header Start =====*/
	.header .contact {width: 15%;}
	.header .logo {width: 70%;}
	.header .nav {width: 15%;}
	.a, .t {width: 10%;}
	.l {margin-left: 6.98591%;}
	.o {width: 12%;}
	.u {width: 11%;}

	/*===== Header End =====*/
	/*===== Content Start =====*/
		/*===== Home Page Start =====*/
		.content.home .portfolio .container:nth-child(1), .content.home  .portfolio .container:nth-child(2) {width: 100%;}
		/*===== Home Page End =====*/
		/*===== Detail Page Start =====*/
		/*===== Detail Page End =====*/
		/*===== Works Detail Start =====*/
		.content.works-detail .container-2 .text-2{position: relative;z-index: 21;width: 80%;}
		.content.works-detail .container-2 .text-3 {width: auto;margin-top: 30px;padding: 0 5px;border-bottom: 1px solid rgb(255, 67, 56); border-left-width: 0;margin-left: 0px;text-align: left;}
		body.ready-load .portfolio-style-double .colum-image, body.not-ready .portfolio-style-double .colum-image {margin: 0 0 1.6% 0;float: none;width: 100%;}
		body.ready-load .portfolio-style-double .colum-image:last-child, body.not-ready .portfolio-style-double .colum-image:last-child {margin-bottom: 0;}
		/*.content.works-detail .container-5 {width: 30%;}	*/
		/*===== Works Detail End =====*/
		/*===== Contact Page Start =====*/
		.content.page.contact .container-3 {float: none;width: 95%;max-width: none;margin-right: auto;margin-left: auto;padding-bottom: 100px;}
		.content.page.contact .container-4 {float: none;width: 95%;margin-right: auto;margin-left: auto;}
		.content.page.contact .container-5 {padding-bottom: 100px;}
		.content.page.contact .text-14{padding-top:0px;}
		.content.page.contact .container-6 {padding-bottom: 100px;}
		/*===== Contact Page End =====*/
		/*===== Blog Start=====*/
		.content.blog{margin-left:5%;}
		/*===== Blog End=====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	
	/*===== Footer End =====*/
}

@media(max-width: 550px) {
	/*===== Default Start =====*/
	/*===== Default End =====*/
	/*===== Header Start =====*/
	/*===== Header End =====*/
	/*===== Content Start =====*/
		/*===== Home Page Start =====*/
		/*===== Home Page End =====*/
		/*===== Detail Page Start =====*/
		/*===== Detail Page End =====*/
		/*===== Works Detail Start =====*/
		/*===== Works Detail End =====*/
		/*===== Contact Page Start =====*/
		/*===== Contact Page End =====*/
		/*===== Blog Start=====*/
		/*===== Blog End=====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	.cont-download p span {display: inline;line-height: 180%;}
	.cont-download p {line-height: inherit;margin-top: -7px;}
	/*===== Footer End =====*/
}


@media(max-width: 520px) {
	/*===== Default Start =====*/
	
	/*===== Default End =====*/
	/*===== Header Start =====*/
	/*===== Header End =====*/
	/*===== Content Start =====*/
		/*===== Home Page Start =====*/
		/*===== Home Page End =====*/
		/*===== Detail Page Start =====*/
		/*===== Detail Page End =====*/
		/*===== Works Detail Start =====*/
		.content.works-detail .container-5{width:100%;}
		/*===== Works Detail End =====*/
		/*===== Contact Page Start =====*/
		/*===== Contact Page End =====*/
		/*===== Blog Start=====*/
		/*===== Blog End=====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	
	/*===== Footer End =====*/
}


@media(max-width: 450px) {
	/*===== Content Start =====*/
	.content{margin-top:150px;}
	.page-not-found h1{    font-size: 40px !important;}
	.page-not-found p {line-height: 160%;margin-bottom: 0px;}
		/*===== Works Detail Start =====*/
		.content.works-detail{margin-top:150px;}
		.content.works-detail .container-2 {width: 100%;margin-left: 0;}
		.content.works-detail .container-5 {width: 100%;}
		.content.works-detail .container-6 {width: 100%;margin-top: 20px;padding-left: 15px;}
		.content.works-detail .container-2 .text-2 blockquote {font-size: 18px;padding: 25px 30px 18px 42px;}
		.content.works-detail .container-2 .text-2 blockquote:before {top: 13px;left: 10px;} 
		/*margin-left: 15px;{width: 100%;}*/
		
		/*===== Works Detail End =====*/
		/*===== Contact Page Start =====*/
		.content.page.contact .container-3 {width: 100%;padding: 10px 10px 100px 10px;}
		.content.page.contact .container-4 {width: 100%;padding: 0 10px;}
		.content.page.contact .text-15 {width: 87.3170731707%;line-height: 2.48;}
		/*===== Contact Page End =====*/
		/*===== Detail Page Start =====*/
		/*.content.page h1 {font-size: 1.6em !important;}*/
		.description-page {font-size: 0.9em;}
		.custom-content {width: 88%;}	
		/*===== Detail Page End =====*/
		/*===== Blog Start=====*/
		.list-blog {font-size: 0.75em;width: 100%;}
		.panel-search {margin-top: 60px;}
		.container-list-blog .content:first-child {margin-top: 60px;}
		.search_input {font-size: 1.2em;line-height: 160%;}
		/*===== Blog End=====*/	
		/*===== Blog Detail Start=====*/
		.detail-blog {font-size: 18px;}
		.detail-blog blockquote {font-size: 1.09em;padding: 45px 10px 20px 40px;}
		.detail-blog blockquote:before {font-size: 2.3em;left: 25px;}
		.detail-blog blockquote p {width: 88%;}
		
		.detail-blog table {font-size: 14px;}
		.detail-blog td {padding-left: 50%;}
		.detail-blog ul li ul {margin-left: 20px;}
		.container-suscribe {font-size: 18px;}
		.container-suscribe ._input {width: 100%;}
		.container-suscribe .notify{font-size:18px;}
		.container-suscribe button.progress-button.custom {margin-top: 10px;}
		/*===== Blog Detail End=====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	.text-18 {width: 300px;padding: 0 0 60px;}
	
	.footer-menu li {width: 50%;}
	.list-link-download a {/* display: inline-block; */width: 50%;float: left;}
	/*.list-link-download a:first-child {margin-right: 110px;}*/
	/*.footer .download {padding-left: 15px; width: 100%;}*/
	.footer .content-container {width: 90%;}
	.social-media {float: none;width: 100%;margin-bottom: 30px;}
	.content-container .contact {float: none;width: 100%;}
	.footer .download {padding-left: 15px;}
	.cont-download p span {display: table-row;height: auto;}
	.footer .download {width: 100%;}
	.cont-download p {line-height: 20%;}
	/*===== Footer End =====*/
}

@media(max-width: 420px) {
	/*===== Default Start =====*/
	.portfolio {padding: 10px;}
	/*===== Default End =====*/
	/*===== Header Start =====*/
	.header .contact {width: 17.5%;}
	.header .logo {position: absolute;float: none;left: -300%;}
  	.header .logo-fix {float: left;width: 65%;top: 0;position: relative;}
	.header .logo-fix .image {position: static;float: left;top: auto;bottom: auto;left: auto;right: auto;height: auto;margin-top: 15px;margin-right: 0;margin-left: 20px;    width: 165px;}
	.header .nav {width: 17.5%;}
	#topmenu li a{font-size: 1.778em; line-height: 100%;}
	/*===== Header End =====*/
	/*===== Content Start =====*/
		.content {margin-top: 150px;}
		/*===== Home Page Start =====*/
		/*===== Home Page End =====*/
		/*===== Works Detail Start =====*/
		/*.content.works-detail .container-3 img.large{display:none;}
		.content.works-detail .container-3 img.medium{display:none;}
		.content.works-detail .container-3 img.small{display:block;}*/
		/*===== Works Detail End =====*/
		
		/*===== About Page Start =====*/
		.team {width: 83%;margin-right: 0px;}
		/*===== About Page End =====*/
	/*===== Content End =====*/
	/*===== Footer Start =====*/
	
	/*===== Footer End =====*/
}

@media(max-width: 400px) {
	/*===== Content Start =====*/
		/*===== Works Detail Start =====*/
		/*===== Works Detail End =====*/
		/*===== Contact Page Start =====*/
		/*===== Contact Page End =====*/
		/*===== Detail Page Start =====*/
		/*.content.page h1 {font-size: 1.6em !important;}*/
		/*===== Detail Page End =====*/
		/*===== Blog Start=====*/
		/*===== Blog End=====*/	
		/*===== Blog Detail Start=====*/
		.detail-blog blockquote:before {left: 10px;font-size: 2.222em;}
		.detail-blog blockquote p {width: 100%;}
		/*===== Blog Detail End=====*/
	/*===== Content End =====*/
}



/*Media Query By Height*/
@media(max-height:480px){
	#topmenu li a {font-size: 1.3em;margin-top:-13px;}
}

/*UPDATE ONLINE CATALOG by arya*/
.ocatimg{
	border-bottom: 5px solid #ff4338;
	width: 100%;
	/*height: 90vh;*/
	height: auto;
	padding-top: 80px;
}
.ocatimg img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.greeting-catalog.content-container{
	border-bottom: 5px solid #ff4338;
	border-top: 0px;
	padding: 50px;
}

.greeting-catalog h1{
	text-align: center;
	font-size: 85px !important;
	/*line-height: 130px;*/
	letter-spacing: -5px;
}

.greeting-catalog h1 b{
	font-size: 127px;
	display: block;
	margin-bottom: 30px;
}

.greeting-catalog h1 b span{
	color: #ff4338;
}

.greeting-catalog p{
	display: block;
    width: 90%;
    max-width: 350px;
    padding: 20px 0;
    margin: 50px auto 0;
    border: 3px solid #ff4338;
    color: #ff4338;
    font-size: 35px;
    text-align: center;
}

.content-catalog.content-container{
	border: 0px;
	padding: 50px 0;
}

.content-catalog p:not(.bld__){
	font-family: 'Core Sans A 45 Regular';
}

.content-catalog p{
    max-width: 80%;
    margin: 0 auto 35px;
    /*font-size: 25px;
    line-height: 35px;*/
    font-size: 40px;
    line-height: 44px;
    color: rgba(0,0,0,0.7);
}

.content-catalog p:last-of-type{
	margin-bottom: 0px;
}

.content-catalog p span{
	/*color: #ff4338;*/
}

.catalog-foot .content-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-width: 5px;
}

.catalog-foot{
	border-bottom: 5px solid #ff4338;
}

.catalog-foot h2,
.catalog-foot a{
	font-size: 30px;
	width: max-content;
	padding: 20px 0;
}

.catalog-foot a{
	padding: 20px 35px;
	background-color: #ff4338;
	color: white;
}

#maincatalog{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

@media(max-width: 768px) {
	.catalog-foot h2, .catalog-foot a{
		font-size: 25px;
	}
}

@media(max-width: 500px){
	.ocatimg{
		padding-top: 75px;
    	padding-bottom: 30px;
	}

	.greeting-catalog h1{
		font-size: 40px !important;
		letter-spacing: -1px;
		line-height: 55px;
	}

	.greeting-catalog h1 b{
		font-size: 65px;
		margin-bottom: 0px;
		line-height: 75px;
	}

	.greeting-catalog p{
		width: 100%;
	    font-size: 25px;
	    padding: 18px 0;
	    margin-top: 15px;
	}

	.content-catalog p{
		font-size: 18px;
	    line-height: 28px;
	    margin-bottom: 28px;
	}

	.catalog-foot .content-container{
		flex-wrap: wrap;
		justify-content: center;
	}

	.catalog-foot h2, .catalog-foot a{
		font-size: 21px;
	}

	.catalog-foot a{
		padding-left: 0;
	    padding-right: 0;
	    width: 100%;
	    text-align: center;
	    margin-top: 30px;
	}

	.catalog-foot h2{
		padding: 0;
		width: 80%;
		line-height: 31px;
	}
}

/*UPDATE LANGUAGE HEADER*/
.armlang{
	border-left: 2px solid #ff4338;
	height: 50px;
	width: 10%;
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}

.armlang p{
	color: #ff4338;
}

.armlang p a{
	border-bottom: 0px;
}

@media(max-width: 500px){
	.armlang{
		width: 17.5%;
    	font-size: 15px;
	}
}



/*UPDATE CLIENT DI ABOUT*/
.con-client{
	display: flex;
	flex-wrap: wrap;
	max-width: none;
	/*max-width: calc(900px + ((100px / 3) * 2));*/
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 30px;
}

.con-client::after{
	content: '';
	width: 300px;
	opacity: 0;
}

.each-client{
	display: flex;
	/*width: 300px;*/
	width: calc((100% - 80px) / 4);
	height: auto;
	min-height: 100px;
	/*background-color: grey;*/
	margin-bottom: calc(100px / 3);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.each-client img{
	display: block;
	max-width: 100%;
	/*min-width: 70%;*/
	max-height: 80%;
	height: auto;
	background-color: transparent !important;
}

.aclient{
	padding-top: 30px;
}

.service.nw_{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service.nw_ h3{
	width: 100%;
}

.service.nw_ p{
	
	line-height: 30px;
}

.service.nw_ div{
	width: calc((100% - 140px) / 5);
}

.service.nw_ ul{
	max-width: 100%;
}
.service.nw_ li{
	font:normal 1.125em/1.4 CoreSansA45Regular;
	font-size: 16px;
    margin-bottom: 13px;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 22px;
    position: relative;
}

.service.nw_ li a{
	color: black;
}

.service.nw_ li:before{
	content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

.service.nw_ strong{
	display: block;
	margin-bottom: 10px;
}

.service.nw_ ul strong{
	margin-bottom: 0;
	display: inline;
}


@media(max-width: 768px){
	.service.nw_ p{
		line-height: 30px;
	}

	.service.nw_ div{
		width: calc((100% - 50px) / 2);
		margin-bottom: 50px;
		
	}
}

/*BACKUP
<p class="text"><strong>Website&nbsp;<br /></strong><span>&bull;</span> Website Design <br /><span>&bull;</span>&nbsp;Responsive Web Design&nbsp;<br /><span>&bull;</span> Ecommerce <br /><span>&bull;</span>&nbsp; Custom Website Development</p>
<p class="text"><strong>Web Application&nbsp;<br /></strong><span>&bull;</span>&nbsp;Custom Booking Engine for Hotel / Villa&nbsp;<br /><span>&bull;</span> Custom Booking Engine for Property Rental Agent <br /><span>&bull;</span> Custom Booking Engine for Transport Operator <br /><span>&bull;</span>&nbsp;Other Custom Web Application</p>
<p class="text"><strong>Identity&nbsp;<br /></strong><span>&bull;</span> Logo Design&nbsp;<br /><span>&bull;</span>&nbsp;Identity System Development&nbsp;<br /><span>&bull;</span> Identity Guideline&nbsp;<br /><span>&bull;</span>&nbsp;Signage System&nbsp;<br /><span>&bull;</span>&nbsp;Icon Design</p>
<p class="text"><strong>Graphic Design&nbsp;<br /></strong><span>&bull;</span> Book / Magazine / Editorial Design&nbsp;<br /><span>&bull;</span>&nbsp;Print Collateral Design&nbsp;<br /><span>&bull;</span> Catalogue / Lookbook Design&nbsp;<br /><span>&bull;</span> Packaging Design <br /><span>&bull;</span> Print Advertisement Design</p>
<p class="text"><strong>Digital Marketing&nbsp;<br /></strong><span>&bull;</span> Keyword Analysis&nbsp;<br /><span>&bull;</span>&nbsp;Google AdWords&nbsp;<br /><span>&bull;</span>&nbsp;Search Engine Optimization&nbsp;<br /><span>&bull;</span> Facebook Advertisement</p>


with ul
<div>
<p class="text"><strong>Website&nbsp;<br /></strong></p>
<ul>
<li>Website Design<strong><strong><br /></strong></strong></li>
<li>Responsive Web Design<strong><strong><br /></strong></strong></li>
<li>Ecommerce<strong><strong><br /></strong></strong></li>
<li>Custom Website Development</li>
</ul>
</div>

<div>
<p class="text"><strong>Web Application&nbsp;<br /></strong></p>
<ul>
<li>Custom Booking Engine for Hotel / Villa<strong><br /></strong></li>
<li>Custom Booking Engine for Property Rental Agent&nbsp;</li>
<li>Custom Booking Engine for Transport Operator</li>
<li>Other Custom Web Application</li>
</ul>
</div>

<div>
<p class="text"><strong>Identity&nbsp;<br /></strong></p>
<ul>
<li>Logo Design<strong><br /></strong></li>
<li>Identity System Development</li>
<li>Identity Guideline</li>
<li>Signage System</li>
<li>Icon Design</li>
</ul>
</div>

<div>
<p class="text"><strong>Graphic Design<br /></strong></p>
<ul>
<li>Book / Magazine / Editorial Design<strong><br /></strong></li>
<li>Print Collateral Design</li>
<li>Catalogue / Lookbook Design</li>
<li>Packaging Design</li>
<li>Print Advertisement Design</li>
</ul>
</div>

<div>
<p class="text"><strong>Digital Marketing&nbsp;<br /></strong></p>
<ul>
<li>Keyword Analysis<strong><br /></strong></li>
<li>Google AdWords</li>
<li>Search Engine Optimization</li>
<li>Facebook Advertisement</li>
</ul>
</div>
*/

@media(max-width: 500px){
	.service.nw_ p{
	}
	.service.nw_ div{
		width: 100%;
	}

	.each-client{
		width: 100%;
	}
}





























