<!-- BEGIN contactInfo -->
<h1>Contact Info</h1>
<p>Aditional contact info that might needed.</p>
<div class="tab_container">
    <div class="single_content">
        {alert}
        
        <form method="post" action="#" enctype="multipart/form-data">
           <!-- <fieldset>
                <p><label>Email Address :</label></p>
                <input type="text" name="ci_email_address" value="{ci_email_address}" class="textbox" />
            </fieldset>-->
             <fieldset>
                <h2>TOP ALERT</h2>
                <p><label>Option alert :</label></p>
                <select id="alert_config" name="alert_config" class="no-margin" autocomplete="off">
                	<option value="0" {alert_config_inactive}>OFF</option>
                	<option value="1" {alert_config_active}>ON</option>
                </select>

                <p><label>Text alert :</label></p>
                <input type="text" name="ci_text_ta" value="{ci_text_ta}" class="textbox" />
                <br>
                <p><label>Link alert :</label></p>
                <input type="text" name="ci_link_ta" value="{ci_link_ta}" class="textbox" />
            </fieldset>

            <fieldset>
                <p><label>Phone :</label></p>
                <input type="text" name="ci_phone_number" value="{ci_phone_number}" class="textbox" />
            </fieldset>
            
            <fieldset>
                <p><label>BBM :</label></p>
                <input type="text" name="ci_bbm" value="{ci_bbm}" class="textbox" />
            </fieldset>
            <fieldset>
                <p><label>WhatsApp :</label></p>
                <input type="text" name="ci_wap" value="{ci_wap}" class="textbox" />
            </fieldset>
            <fieldset>
                <p><label>Viber :</label></p>
                <input type="text" name="ci_viber" value="{ci_viber}" class="textbox" />
            </fieldset>
            <fieldset>
                <p><label>Address :</label></p>
                <textarea name="ci_address" class="tinymce">{ci_address}</textarea>
            </fieldset>
            <fieldset>	
                <p><label>Skype :</label></p>
                <input type="text" name="ci_skype" value="{ci_skype}" class="textbox" />
            </fieldset>
            <fieldset>	
                <p><label>Linked In :</label></p>
                <input type="text" name="ci_linkedin" value="{ci_linkedin}" class="textbox" />
            </fieldset>
            <fieldset>	
                <p><label>Instagram :</label></p>
                <input type="text" name="ci_instagram" value="{ci_instagram}" class="textbox" />
            </fieldset>
            <fieldset>	
                <p><label>Facebook :</label></p>
                <input type="text" name="ci_facebook_url" value="{ci_facebook_url}" class="textbox" />
                <br />
				<p><label>Iframe Facebook :</label></p>
                <textarea name="ci_facebook_iframe" class="textarea" rows="10">{ci_facebook_iframe}</textarea>
            </fieldset>
            
            
            
            <fieldset>	
                <p><label>Google Plus :</label></p>
                <input type="text" name="ci_google_plus" value="{ci_google_plus}" class="textbox" />
            </fieldset>
            <fieldset>	
                <p><label>Youtube :</label></p>
                <input type="text" name="ci_youtube" value="{ci_youtube}" class="textbox" />
            </fieldset>
            <fieldset>	
                <p><label>Twitter :</label></p>
                <input type="text" name="ci_twitter_url" value="{ci_twitter_url}" class="textbox" />
            </fieldset>
            <fieldset>	
                <p><label>Medium :</label></p>
                <input type="text" name="ci_medium_url" value="{ci_medium_url}" class="textbox" />
            </fieldset>
            <fieldset>
                <p><label>Email :</label></p>
                <input type="text" name="ci_email" value="{ci_email}" class="textbox" />
            </fieldset>
            
            <div class="button_wrapper clearfix">
               <ul class="button_navigation">
               <li>{theSaveButton}</li>
               </ul>
            </div>
        </form>
    </div>
</div>
<!-- END contactInfo -->