<!-- BEGIN Attachment_Portfolio -->
<style>
.button-add-single-attachment {width: 48px; height: 24px;border:none;background:url('{plugin_url}/img/button-add-attachment.png') no-repeat;background-size: 100px;padding: 0px;margin: 0px 5px 0 0;cursor:pointer;}
.button-add-double-attachment {width: 48px; height: 24px;border:none;background:url('{plugin_url}/img/button-add-attachment.png') no-repeat;background-size: 100px;background-position: -53px 0px;padding: 0px;margin: 0px;cursor:pointer;}
.drop-image.load-attachment, .drop-image-load{background:url('{plugin_url}/img/loader.gif') no-repeat center center; background-color: #fff;}
.delete-drop-image {content: "";position: absolute;top: 0px;right: 0;width: 25px;height: 25px;background: url('{plugin_url}/img/delete.png') no-repeat center center #eee;background-size: 10px;border-left: solid 1px #000;border-bottom: solid 1px #000;border-top: none;border-right: none;border-radius: 0;moz-border-radius: 0;}
</style>
<fieldset>
<h3>Image Attachments</h3>   
<ul class="list-images-portfolio container" id="list-image-portfolio-{iii}">{list_image_portfolio_li}</ul>
<textarea name="additional_fields[list_image_portfolio][{iii}]" class="textarea-list-image-portfolio list_image_portfolio_{iii}" >{list_image_portfolio}</textarea>
<!--<input type="hidden"  name="additional_fields[list_image_portfolio][{iii}]" class="list_image_portfolio_{iii}"  value="{list_image_portfolio}" />-->

<input class="button-add-single-attachment" name="button-add-single-attachment-{iii}" type="button" value="0">
<input class="button-add-double-attachment" name="button-add-double-attachment-{iii}" type="button" value="0">

<ul class="list-images-portfolio theme" id="theme-li-image-{iii}">
	<li class="single-drop new">
    	<div class="border-drop">
        	<div class="drop-image no-event">
            	<div class="preview-drop-image"></div>        	
                <div class="desc-drop fallback">
                    <input name="pic" type="file" />
                </div>
            </div>
        </div>
        <input type="button" class="delete-drop-image" />
    </li>
	<li class="double-drop new">
    	<div class="border-drop">
        	<div id="drop-image-0" class="drop-image no-event">  
            	<div class="desc-drop fallback">
                    <input name="pic" type="file" />
                </div>      	            
            </div>
        </div>
        <div class="border-drop">
        	<div id="drop-image-1" class="drop-image no-event">        	
                <div class="desc-drop fallback">
                    <input name="pic" type="file" />
                </div>
            </div>
        </div>
        <input type="button" class="delete-drop-image" />
    </li> 
</ul>
</fieldset>



<script>
jQuery(document).ready(function(e) {
	drop_image_event();
	jQuery('[name=button-add-single-attachment-{iii}]').click(function(){
		var html = jQuery('#theme-li-image-{iii} .single-drop').clone();
		append_html(html);
	});
	jQuery('[name=button-add-double-attachment-{iii}]').click(function(){
		var html = jQuery('#theme-li-image-{iii} .double-drop').clone();
		append_html(html);
	});
	
	set_textarea_list_image_portfolio();
});

var convArrToObj = function(array){
    var thisEleObj = new Object();
    if(typeof array == "object"){
        for(var i in array){
            var thisEle = convArrToObj(array[i]);
            thisEleObj[i] = thisEle;
        }
    }else {
        thisEleObj = array;
    }
    return thisEleObj;
}


function append_html(html){//console.log(html);
	if(jQuery('#list-image-portfolio-{iii} li').length>0) jQuery('#list-image-portfolio-{iii} li:last-child').after(html);
	else jQuery('#list-image-portfolio-{iii}').append(html);
	var no = jQuery('[name=button-add-single-attachment-{iii}]').val();
	no = parseInt(no)+1;
	jQuery('#list-image-portfolio-{iii} li.new').attr('rel',no);
	jQuery('[name=button-add-single-attachment-{iii}]').val(no);
	jQuery('[name=button-add-double-attachment-{iii}]').val(no);
	drop_image_event();
}

function drop_image_event(){
	var post_id = jQuery('[name=post_id[{iii}]]').val();
	var textarea_id = '{iii}';
	
	/*jQuery("#list-image-portfolio-{iii} li.new .drop-image.no-event").dropzone({ 
			acceptedFiles:'image/*',
			url: "upload-media.php" ,
			clickable:true,
			paramName:'pic',
			
			sending: function(file, xhr, formData) {
				formData.append('post_id', post_id);
				formData.append('textarea_id', textarea_id);
				formData.append('type_post','portfolio');
				var parent = file.previewElement.parentNode;
				parent.style.content = "";
				file.previewElement.classList.add("drop-image-load");
			},
			success:function(file, responseText){
				//var args = Array.prototype.slice.call(arguments);
				var res = jQuery.parseJSON(responseText);
				//console.log(file);console.log(responseText);
				file.previewElement.classList.remove("drop-image-load");
				file.previewElement.classList.add("dz-success-load");
				file.previewElement.style.backgroundImage = "url(" + res.thumb + ")";
				
				var parent = file.previewElement.parentNode;
				parent.setAttribute('data-rel',res.id);
				
				set_textarea_list_image_portfolio();
			}
	});*/
	
	jQuery("#list-image-portfolio-{iii} li.new .drop-image.no-event").dropzone({ 
			acceptedFiles:'image/*',
			url: "upload-media.php" ,
			paramName:'pic',
			maxFiles: 1,
			maxfilesexceeded: function(file) {
				this.removeAllFiles();
				this.addFile(file);
			},
			sending: function(file, xhr, formData) {
				var old_id = file.previewElement.parentNode.dataset.rel;
				if(old_id!='' && typeof old_id != 'undefined')delete_image(old_id);
				
				formData.append('post_id', post_id);
				formData.append('textarea_id', textarea_id);
				formData.append('type_post','portfolio');
				var parent = file.previewElement.parentNode;
				parent.style.content = "";
				file.previewElement.classList.add("drop-image-load");
			},
			success:function(file, responseText){
				var res = jQuery.parseJSON(responseText);
				file.previewElement.classList.remove("drop-image-load");
				file.previewElement.classList.add("dz-success-load");
				file.previewElement.style.backgroundImage = "url(" + res.thumb + ")";
				
				var _this = this; 
				file.previewElement.addEventListener("click", function () {
					_this.hiddenFileInput.click();
				});
				
				var parent = file.previewElement.parentNode;
				parent.setAttribute('data-rel',res.id);
				
				set_textarea_list_image_portfolio();
			}
	});	
	
	jQuery('.edit-dz-preview').click(function(){
		jQuery(this).parent().hiddenFileInput.click();
	});
	
	jQuery('#list-image-portfolio-{iii} li.new .delete-drop-image').click(function(){
		jQuery(this).parent().fadeOut(300,function(){
			jQuery(this).remove();
			set_textarea_list_image_portfolio();
		});
		jQuery(this).parent().find('.border-drop').each(function(index, element) {
            var id = jQuery(this).find('.drop-image').attr('data-rel');
			if(typeof id != 'undefined') {
				var data = new Object();
					data.confirm_delete = 'yes';
					data.delete_id = id;
				jQuery.post('upload-media.php',data,function(response){
					//console.log('res');
				});
			}
        });
	});
	
	jQuery('#list-image-portfolio-{iii}').sortable({
		axis: "y",
		start: function(event, ui) {},
        change: function(event, ui) {},
        update: function(event, ui) {
           set_textarea_list_image_portfolio();	
        }
	});	
	jQuery('#list-image-portfolio-{iii} li.new ').removeClass('new');
}

function delete_image(id){
	var data = new Object();
	data.confirm_delete = 'yes';
	data.delete_id = id;
	//console.log(data);
	jQuery.post('upload-media.php',data,function(response){
		//console.log('res');
	});
}


function set_textarea_list_image_portfolio(){
	//list_image_portfolio
	var textarea = [];
	jQuery('#list-image-portfolio-{iii} li').each(function(index, element) {
		var style = (jQuery(this).hasClass('single-drop')?'single':'double');
		var data = [];
		jQuery(this).find('.border-drop').each(function(i, ele) {
			data[i] = '0';
			var data_rel = jQuery(this).find('.drop-image').attr('data-rel');
          	if(typeof data_rel != 'undefined')  data[i] = jQuery(this).find('.drop-image').attr('data-rel');
        });
		var textarea_data =[]
		textarea_data['style'] = style;
		textarea_data['data'] = data;
		textarea.push(textarea_data);
	});
	
	//console.log(textarea);
	var obj_arr = convArrToObj(textarea);
	obj_arr = JSON.stringify(obj_arr);
	jQuery('.list_image_portfolio_{iii}').text(obj_arr);
	
}

function toObject(arr) {
  var rv = {};
  for (var i = 0; i < arr.length; ++i)
    if (arr[i] !== undefined) rv[arr[i].id] = arr[i].name;
  return rv;
}
</script>
<fieldset></fieldset>

<!-- END Attachment_Portfolio -->