<!-- BEGIN portfolio2BlogBlock -->
<fieldset>
    <h3>Releated Blog</h3>   
    <select name="additional_fields[article_portfolio][{iii}]">
        <option value="">Please Select Blog</option>
        {releated_option_blog}
    </select>
</fieldset>
<fieldset></fieldset>
<!-- END portfolio2BlogBlock -->