<!-- BEGIN portfolioScript -->

<script type="text/javascript" src="{json_url}" ></script>
<script>
var txt1 = 'work name';
var txt2 = 'URL';
jQuery(document).ready(function(){
	bindInputtextEffect();
	otherWorksDoneJSONtranslate();

	jQuery('a.justMoreButton').click(function(){
		jQuery('span.othBlock:last').clone().insertAfter('span.othBlock:last');
		jQuery('[name=dummyOtherWorksNam]:last').val('').addClass('empty');
		jQuery('[name=dummyOtherWorksURL]:last').val('').addClass('empty');

		bindInputtextEffect();
	});

	function bindInputtextEffect(){
		jQuery('[name=dummyOtherWorksNam],[name=dummyOtherWorksURL]').unbind();
		jQuery('[name=dummyOtherWorksNam]').each(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){ jQuery(this).val(txt1); }
		}).focus(function(){
			var val = trim(jQuery(this).val());
			if( val==txt1 ){ jQuery(this).val(''); }
			jQuery(this).removeClass('empty');
		}).blur(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){
				jQuery(this).val(txt1);
				jQuery(this).addClass('empty');
			}else{
				jQuery(this).removeClass('empty');
			}
		});

		jQuery('[name=dummyOtherWorksURL]').each(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){ jQuery(this).val(txt2); }
		}).focus(function(){
			var val = trim(jQuery(this).val());
			if( val==txt2 ){ jQuery(this).val(''); }
			jQuery(this).removeClass('empty');
		}).blur(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){
				jQuery(this).val(txt2);
				jQuery(this).addClass('empty');
			}else{
				jQuery(this).removeClass('empty');
			}
		});

		jQuery('[name=dummyOtherWorksNam], [name=dummyOtherWorksURL]').keyup(function(){ otherWorksDoneJSON(); });
	}

	function refreshAttachedImages(){
		jQuery('span.imagesBlock').text('');
		var thePID = '{postID}';
		var thaUrl = '{imageFetchURL}';
		jQuery.post(thaUrl, {
			pID  : thePID
		}, function(data){
			var feedback = trim(data);
			if(feedback!='empty1' && feedback!='empty2'){
				var retData  = jQuery.evalJSON(feedback);
				jQuery.each(retData, function(index,value){
					var justTB = '{timthumbURL}?h=100&w=100&src={HTTP}{just_site_url}'+value['thumb'];
					var tag = '<a class="attachedImagePreview" href="{HTTP}{just_site_url}'+value['full']+'"><img src="'+justTB+'" /></a>';
					jQuery('span.imagesBlock').append(tag);
				});

				var justContent = trim(jQuery('span.imagesBlock').html());
				if(justContent==''){
					jQuery('span.imagesBlock').parent().css('display','none');
				}else{
					jQuery('span.imagesBlock').parent().css('display','block');
				}

				jQuery('a.attachedImagePreview').unbind();
				jQuery('a.attachedImagePreview').colorbox({
					maxWidth:"100%",
					maxHeight:"100%",
				});
			}
		});
	}
	refreshAttachedImages();
	jQuery('a.justManageImage').click(function(){
		jQuery('.textarea_button .upload_image.cboxElement').click();
	});

	$(document).bind('cbox_closed', function(){
        refreshAttachedImages();
	});

	function otherWorksDoneJSON(){
		var JSONvars = new Array();

		var i = 0;
		var j = 0;
		jQuery('[name=dummyOtherWorksNam]').each(function(){
			var nam = jQuery('[name=dummyOtherWorksNam]:eq('+i+')').val();
			var url = jQuery('[name=dummyOtherWorksURL]:eq('+i+')').val();
			if(trim(nam)==trim(txt1)){ nam=''; }
			if(trim(url)==trim(txt2)){ url=''; }

			if( trim(nam)!='' ){
				var oth  = new Object();
				oth.name = nam;
				oth.url  = url;
				JSONvars[j]  = oth;

				j++;
			}
			i++;
		});
		var JSONres = jQuery.toJSON(JSONvars);
		jQuery('[rel=other_work_list]').val(JSONres);
	}
	function otherWorksDoneJSONtranslate(){
		var theJSON = '{other_work_list}';
		var	theJSON = theJSON.replace(/\(/g, '{');
		var	theJSON = theJSON.replace(/\)/g, '}');
		var array   = eval(theJSON);

		if(trim(theJSON)!=''){
			var i = 0;
			jQuery.each(array, function(index,value){
				if(i>0){
					jQuery('span.othBlock:last').clone().insertAfter('span.othBlock:last');
					jQuery('span.othBlock:last text').val('');
				}
				//alert(value.name);
				jQuery('[name=dummyOtherWorksNam]:eq('+i+')').val(value.name);
				jQuery('[name=dummyOtherWorksURL]:eq('+i+')').val(value.url).removeClass('empty');

				bindInputtextEffect();
				var val = trim(jQuery('[name=dummyOtherWorksURL]:eq('+i+')').val());
				if(val==txt2){ jQuery('[name=dummyOtherWorksURL]:eq('+i+')').addClass('empty'); }

				i++;
			});
		}

		jQuery('[rel=other_work_list]').val(theJSON);
	}
});
function trim(str) {
	var	str = str.replace(/^\s\s*/, ''),
		ws = /\s/,
		i = str.length;
	while (ws.test(str.charAt(--i)));
	return str.slice(0, i + 1);
}
</script>
<!-- END portfolioScript -->
