<!-- BEGIN portfolioSetting -->
<h1>{title}</h1>
<p style="padding-left:6px;">
    Here you can change your newsletter setting.
</p>
<ul class="tabs">
    {tabs}
</ul>
<div class="tab_container">
    {alert}
    <div class="clearfix">
    	<form method="post" action="">
	    <div>
            <fieldset>
                <label style="padding-bottom:4px; display:block;">Default number of posts viewed at home: </label>
                <input type="text" name="thumb_portfolio_view_home" value="{thumb_portfolio_view_home}" class="textbox" style="vertical-align:middle; width:100px !important; min-width:0 !important;" />
            </fieldset>
            <fieldset>
                <label style="padding-bottom:4px; display:block;">Default number of image viewed at detail portfolio: </label>
                <input type="text" name="thumb_portfolio_view_detail" value="{thumb_portfolio_view_detail}" class="textbox" style="vertical-align:middle; width:100px !important; min-width:0 !important;" />
            </fieldset>
            
            <fieldset style="padding-top:20px; padding-bottom:20px;">
                <input type="submit" value="Save Changes" name="save_portfolio_setting" style="cursor:pointer;" />
            </fieldset>
        </div>
        </form>
    </div>
</div>
<!-- END portfolioSetting -->