<!-- BEGIN WorksLIst -->
<div class="content works">
    <div class="filter clearfix">
      <h1 class="text">{title}</h1>
      {filter}
      <!--<p class="text text-2">All works &nbsp; &nbsp; <a>Website Design &amp; Development</a> &nbsp; &nbsp; <a>Identity Design</a> &nbsp; &nbsp; <a>Graphic Design</a></p>-->
    </div>
</div>
<!-- END WorksLIst -->