<!-- BEGIN ThumbsPortfolio -->
	<div id="portfolio-continer" class="portfolio clearfix">
	<!-- BEGIN ListThumbsPortfolio -->
    	<div class="container clearfix">
        	<a href="{link_portfolio}">
            	<img class="image blur" src="{blur_portfolio}" data-original="{thumb_portfolio}">
		        <p class="text">{title_portfolio}</p>
            </a>
        </div>
    <!-- END ListThumbsPortfolio -->
    </div>
<!-- END ThumbsPortfolio -->