<!-- BEGIN PortfolioPagging -->
<div class="paging clearfix">
	<p class="text text-15">Go to Page:{pagging}{dotted}{pagging_last}</p>
  <!--<p class="text text-15">Go to Page: &nbsp; <a>1</a> &nbsp;/ &nbsp; <a>2</a> &nbsp; / &nbsp; <a>3</a> &nbsp;/ &nbsp; <a>4</a> &nbsp; / &nbsp; <a>5</a> &nbsp; / &nbsp; … &nbsp; / &nbsp; <a>10</a></p>-->
</div>
<!-- END PortfolioPagging -->