<!-- BEGIN portfolioTheme  -->
<div class="content works">
	<div class="filter clearfix">
         <h1 class="text">{title}</h1>
        {filter}
    </div>
    {middle_content}
    {pagging}
</div>
<!-- END portfolioTheme  -->