<!-- BEGIN portfolioList -->

<script type="text/javascript" src="{json_url}" ></script>
<script>
var txt1 = 'work name';
var txt2 = 'URL';
var attReload = false;
jQuery(document).ready(function(){
	bindInputtextEffect();
	otherWorksDoneJSONtranslate();

	jQuery('a.justMoreButton').click(function(){
		jQuery('span.othBlock:last').clone().insertAfter('span.othBlock:last');
		jQuery('[name=dummyOtherWorksNam]:last').val('').addClass('empty');
		jQuery('[name=dummyOtherWorksURL]:last').val('').addClass('empty');

		bindInputtextEffect();
	});

	function bindInputtextEffect(){
		jQuery('[name=dummyOtherWorksNam],[name=dummyOtherWorksURL]').unbind();
		jQuery('[name=dummyOtherWorksNam]').each(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){ jQuery(this).val(txt1); }
		}).focus(function(){
			var val = trim(jQuery(this).val());
			if( val==txt1 ){ jQuery(this).val(''); }
			jQuery(this).removeClass('empty');
		}).blur(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){
				jQuery(this).val(txt1);
				jQuery(this).addClass('empty');
			}else{
				jQuery(this).removeClass('empty');
			}
		});

		jQuery('[name=dummyOtherWorksURL]').each(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){ jQuery(this).val(txt2); }
		}).focus(function(){
			var val = trim(jQuery(this).val());
			if( val==txt2 ){ jQuery(this).val(''); }
			jQuery(this).removeClass('empty');
		}).blur(function(){
			var val = trim(jQuery(this).val());
			if( val=='' ){
				jQuery(this).val(txt2);
				jQuery(this).addClass('empty');
			}else{
				jQuery(this).removeClass('empty');
			}
		});

		jQuery('[name=dummyOtherWorksNam], [name=dummyOtherWorksURL]').keyup(function(){ otherWorksDoneJSON(); });
	}

	function refreshAttachedImages(){
		jQuery('.justThumbnailWrapper').unbind();
		jQuery('span.imagesBlock').text('');

		var thePID = parseInt('{postID}');
		var thaUrl = '{imageFetchURL}';
		var altID  = jQuery('[name=post_id[0]]').val();

		if(thePID>0 || attReload==true ){
			jQuery.post(thaUrl, {
				pID  : thePID,
				altID : altID
			}, function(data){
				var feedback = trim(data);
				if(feedback!='empty1' && feedback!='empty2'){
					var retData  = jQuery.evalJSON(feedback);
					jQuery.each(retData, function(index,value){
						var selThumb = jQuery('.the_selected_thumbnail').val();
						var addClass = '';
						if(value['full']==selThumb){
							var addClass = 'selected';
						}


						var justTB = '{timthumbURL}?h=100&w=100&src={HTTP}{just_site_url}'+value['thumb'];
						var mainThumb = '<a class="setMainThumbnail '+addClass+'" rel="'+value['full']+'" href="#make-main-thumbnail" >thumbnail</a>';
						var tag = '<div class="justThumbnailWrapper">'+mainThumb+'<a class="attachedImagePreview" href="{HTTP}{just_site_url}'+value['full']+'"><img src="'+justTB+'" /></a></div>';

						jQuery('span.imagesBlock').append(tag);
					});

					var justContent = trim(jQuery('span.imagesBlock').html());
					if(justContent==''){
						jQuery('span.imagesBlock').parent().css('display','none');
					}else{
						jQuery('span.imagesBlock').parent().css('display','block');
					}

					jQuery('a.attachedImagePreview').unbind();
					jQuery('a.attachedImagePreview').colorbox({
						maxWidth:"100%",
						maxHeight:"100%",
					});

					attReload = false;

					jQuery('a.setMainThumbnail').css('opacity',0.8);
					bidOnThumbnailHover();
				}
			});
		}
	}
	refreshAttachedImages();
	jQuery('a.justManageImage').click(function(){
		jQuery('.textarea_button .upload_image.cboxElement').click();
	});

	function bidOnThumbnailHover(){
		jQuery('.justThumbnailWrapper').mouseenter(function(){
			jQuery(this).find('.setMainThumbnail').addClass('hovered');
		}).mouseleave(function(){
			jQuery(this).find('.setMainThumbnail').removeClass('hovered');
		});

		jQuery('a.setMainThumbnail').click(function(){
			jQuery('a.setMainThumbnail.selected').removeClass('selected');

			var rel = jQuery(this).attr('rel');
			jQuery(this).parent().parent().parent().find('.the_selected_thumbnail').val(rel);

			var rel = jQuery(this).addClass('selected');
		});
	}




	$(document).bind('cbox_closed', function(){
        attReload = true;
		refreshAttachedImages();
	});

	function otherWorksDoneJSON(){
		var JSONvars = new Array();

		var i = 0;
		var j = 0;
		jQuery('[name=dummyOtherWorksNam]').each(function(){
			var nam = jQuery('[name=dummyOtherWorksNam]:eq('+i+')').val();
			var url = jQuery('[name=dummyOtherWorksURL]:eq('+i+')').val();
			if(trim(nam)==trim(txt1)){ nam=''; }
			if(trim(url)==trim(txt2)){ url=''; }

			if( trim(nam)!='' ){
				var oth  = new Object();
				oth.name = nam;
				oth.url  = url;
				JSONvars[j]  = oth;

				j++;
			}
			i++;
		});
		var JSONres = jQuery.toJSON(JSONvars);
		jQuery('[rel=other_work_list]').val(JSONres);
	}
	function otherWorksDoneJSONtranslate(){
		var theJSON = '{other_work_list}';
		var	theJSON = theJSON.replace(/\(/g, '{');
		var	theJSON = theJSON.replace(/\)/g, '}');
		var array   = eval(theJSON);

		if(trim(theJSON)!=''){
			var i = 0;
			jQuery.each(array, function(index,value){
				if(i>0){
					jQuery('span.othBlock:last').clone().insertAfter('span.othBlock:last');
					jQuery('span.othBlock:last text').val('');
				}
				//alert(value.name);
				jQuery('[name=dummyOtherWorksNam]:eq('+i+')').val(value.name);
				jQuery('[name=dummyOtherWorksURL]:eq('+i+')').val(value.url).removeClass('empty');

				bindInputtextEffect();
				var val = trim(jQuery('[name=dummyOtherWorksURL]:eq('+i+')').val());
				if(val==txt2){ jQuery('[name=dummyOtherWorksURL]:eq('+i+')').addClass('empty'); }

				i++;
			});
		}

		jQuery('[rel=other_work_list]').val(theJSON);
	}
});

function trim(str) {
	var	str = str.replace(/^\s\s*/, ''),
		ws = /\s/,
		i = str.length;
	while (ws.test(str.charAt(--i)));
	return str.slice(0, i + 1);
}
</script>

<div id="portfolioAditionalData">
	<fieldset>
        <label>Client Name</label>
        <input type="text" rel="the_project_client_name" name="additional_fields[the_project_client_name][{iii}]" value="{the_project_client_name}" class="textbox"  />
    </fieldset>
	<fieldset>
        <label>Project URL</label>
        <input type="text" rel="the_project_url" name="additional_fields[the_project_url][{iii}]" value="{the_project_url}" class="textbox"  />
    </fieldset>
    <fieldset>
        <label>Year</label>
        <select name="additional_fields[the_project_year][{iii}]" class="textbox smaller" style="margin:0px;">
        	<option value=""></option>
            {year_options}
        </select>
    </fieldset>

    <fieldset>
        <label>Other Works Done</label>
        <span class="othBlock">
        	<input type="text" name="dummyOtherWorksNam" value="" class="textbox smaller" />
        	<input type="text" name="dummyOtherWorksURL" value="" class="textbox smaller" />
        </span>
        <a href="#more" class="justMoreButton">+</a>
        <input type="text" rel="other_work_list" name="additional_fields[other_work_list][{iii}]" value="" class="textbox" style="display:none;" />
    </fieldset>

    <fieldset style="display:none;">
        <label>Attached Images</label>
        <span class="imagesBlock">{attachedImages}</span>
        <span class="manageImage"><a href="#manageImage" class="justManageImage">manage images</a></span>
        <span class="clear"></span>

        <input type="text" rel="the_selected_thumbnail" name="additional_fields[the_selected_thumbnail][{iii}]" value="{the_selected_thumbnail}" class="textbox the_selected_thumbnail" style="display:none;" />
    </fieldset>
</div>
<!-- END portfolioList -->
