<!-- BEGIN PorfolioDetail -->
<div class="content works-detail">
    <div class="container container-2 clearfix">
        <h1 class="text">{title}</h1>
        <div class="text-2">{content}</div>
    </div>
    <div class="container container-3 clearfix">
    	{image}
    </div>
    <div class="container container-4 clearfix">
      <div class="container container-5 clearfix">
      	<!-- BEGIN serviceBlock -->
        <p class="text text-4">Services:</p>
        <p class="text text-5">{tags}</p>
        <!-- END serviceBlock -->
        <p class="text text-6">Client:</p>
        <p class="text text-7">{client_name}</p>
        <p class="text text-8">Year:</p>
        <p class="text text-9">{year}</p>
      </div>
      <div class="container container-6 clearfix">

        <p class="text text-11">Share:</p>
        <p class="text text-12">
            <a href="https://www.facebook.com/share.php?u={current_url}" onClick="return fbs_click(400, 300)" target="_blank" title="Share This on Facebook" rel="nofollow">Facebook</a>
            <br>
            <a class="share_twitter" href="https://twitter.com/share" rel="nofollow">Twitter</a>
            {share_email}
        </p>
        {releated_blog}
        {website_url}
      </div>
    </div>
</div>
<!-- BEGIN paggingPortfolioDetail -->
<div class="works-detail-pagging paging clearfix">
    <div class="container container-7 clearfix">
    <p class="text text-13"><a href="{site_url}/portfolio">Back to Work</a></p>
      <!--<p class="text text-13">{prev}</p>-->
    </div>
    <div class="container container-8 clearfix">
      <p class="text">{prev}{next}</p>
    </div>
</div>
<!-- END paggingPortfolioDetail -->
<!-- END PorfolioDetail -->
