<!-- BEGIN Bcontact_us -->
{jquery_ui_css}
{jquery_ui_js}

<style>
#fancybox-content {
	border: 0 solid #77542D;
}

.blockconfirmation {
    background: none repeat scroll 0 0 #77542D;
    color: #FFFFFF;
    font: 12px/20px Trebuchet MS;
    margin: 0;
    padding: 14px;
}

.mapsWrapper {
    border: 1px solid #CCCCCC;
    height: 452px;
    padding: 10px;
    width: 678px;
    margin: 15px 0;	
}
</style>


<script type="text/javascript">

function validateTheEmail(address) {
    var reg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var address;
    if(reg.test(address) == false) {
       return false;
    }else{
       return true;
    }
}

function trim(str) {
    var	str = str.replace(/^\s\s*/, ''),
            ws = /\s/,
            i = str.length;
    while (ws.test(str.charAt(--i)));
    return str.slice(0, i + 1);
}

var baseURL = '';
var oneDay  = 86400000;
$(document).ready(function(){
	

	var tmp = window.location.href;
	var theBaseUrl = jQuery('[name=baseURL]').val();
	var prt = tmp.split(theBaseUrl);
	var tmp = prt[1];
	var prt = tmp.split('/');
	baseURL = theBaseUrl+prt[0]+'/chiringuito';
	

	jQuery('[name=cIn]').datepicker({
		minDate: +1,
		dateFormat: "dd/mm/yy"
		
	});
	jQuery('[name=cOut]').datepicker({
		minDate: +2,
		dateFormat: "dd/mm/yy"
	});
		
	jQuery("[name=cIn]").change(function() {
		var date = jQuery(this).val();
		var prt = date.split('/'); 
		var mm = 0;
		
		switch (prt[1]){
		 case "01" : mm = 1; break;
		 case "02" : mm = 2; break;
		 case "03" : mm = 3; break;
		 case "04" : mm = 4; break;
		 case "05" : mm = 5; break;
		 case "06" : mm = 6; break;
		 case "07" : mm = 7; break;
		 case "08" : mm = 8; break;
		 case "09" : mm = 9; break;
		 case "10" : mm = 10; break;
		 case "11" : mm = 11; break;
		 case "12" : mm = 12; break;
		}
		
		jQuery('[name=cOut]').datepicker( "option", "minDate", new Date(prt[2], mm-1, parseInt(prt[0])+1) );

	});
	

	
	jQuery("#checkinDate").click(function(){
		jQuery("#inDate").focus();
	});	
	jQuery("#checkoutDate").click(function(){
		jQuery("#ouDate").focus();
	});
	

	$('.button_send').click(function(){
		var error = false;
		var valid = false;
		var fullname = $('[name=fullname]').val();
		var email = $('[name=email]').val();
		var phone = $('[name=phone]').val();
		var cIn = $('[name=cIn]').val();
		var cOut = $('[name=cOut]').val();
		var message = $('[name=message]').val();
		var validation = $('[name=validation]').val();

		if (fullname=='' || email=='' || !validateTheEmail(email) || message==''){
			error = true;
		}else{
			valid = true;
		}

		if (valid){
			thaUrl = '{thaUrl}';
			jQuery.post(thaUrl,{
			   pKEY:'CekCode', 
			   qval:validation,
			},function(data){
				//alert(data);
				if (trim(data)=='success'){
					//alert("M");
					jQuery.post(thaUrl,{
					   pKEY:'SendContactUs', 
					   qval_fullname:fullname,
					   qval_email:email,
					   qval_phone:phone,
					   qval_cIn:cIn,
					   qval_cOut:cOut,
					   qval_message:message,
					},function(data){
						//alert(data);
						if (trim(data)=='success'){
							$('.blockconfirmation').html('Thank you, your message was sent successfully.');
							$('.confirmation').click();
								setTimeout(
							    	function(){
							  			//location.reload(true);
							    		document.location.href='{form_url}';
			                    	}, 1500);
						}else{
							$('.blockconfirmation').html('something  is wrong please try again');
							$('.confirmation').click();
							
						}
					});
				}else{
					$('.blockconfirmation').html('Code not match, please try again');
					$('.confirmation').click();
				}
			});
		}
		  
		
		if (error){	
			$('.blockconfirmation').html('Please input fields with * are mandatory!');
			$('.confirmation').click();
		}
	})

	$("a.confirmation").fancybox({
		'showCloseButton' : false
	});

});
</script>

<div class="title"><h1>{contact_us_title}</h1></div>
            <div class="desc contact-us">
            <div style="position: relative;">
            
            <!-- 
            <p>
            <img src="{ulr_images}/location.jpg" />
            </p>
             -->
            <div style="background:#fff;" class="mapsWrapper">
                	<!-- 
                	<iframe width="100%" scrolling="no" height="450" frameborder="0" src="http://maps.google.co.id/maps?hl=en&amp;ie=UTF8&amp;q=lumonata+maps&amp;fb=1&amp;gl=id&amp;hq=lumonata&amp;hnear=0x2dd2409b0e5e80db:0xe27334e8ccb9374a,Denpasar&amp;cid=0,0,13558802449717865574&amp;ll=-8.709704,115.179806&amp;spn=0.019089,0.029998&amp;z=15&amp;iwloc=A&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
                	 -->
                	<iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=nusa+lembongan,+bali&amp;hl=en&amp;geocode=+&amp;hnear=Nusa+Lembongan&amp;t=m&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;z=11&amp;ll=-8.652305,115.447769&amp;output=embed"></iframe>
                </div>
      
            <div style="text-align:center; width: 220px; position: absolute; top: 0; left: -240px;" class="banner">
		    {article_content}
		    </div>
		    
            <hr style="bottom: -20px;
    position: absolute;
    right: 0;
    width: 940px;" />
            </div>

            

            
            <br style="clear:both;" />
            <div class="contact-us" style="position:relative; height:550px; width:100%; margin: 20px 0;">
            	<div class="contact-us-content" style="position:absolute;text-align:center; width:220px; left:-240px; top:15px;">
					{article_brief}
                </div>
                <form action="" method="post">
                <table>
                <tr>
                	<td>Full Name*</td>
                	<td><input type="text" class="text" name="fullname" autocomplete="off"/></td>
                </tr>
                <tr>
                	<td>Email*</td>
                	<td><input type="text" class="text" name="email" autocomplete="off"/></td>
                </tr>
                <tr>
                	<td>Phone</td>
                	<td><input type="text" class="text" name="phone" autocomplete="off"/></td>
                </tr>
                <tr>
                	<td>Check In</td>
                	<td><input type="text" class="text-d" id="inDate" name="cIn" autocomplete="off"/>
                	<a id="checkinDate" style="cursor:pointer;">
                    <span class="calendar"></span>
                    </a>
                    </td>
                </tr>
                <tr>
                	<td>Check Out</td>
                	<td><input type="text" class="text-d" id="ouDate" name="cOut" autocomplete="off"/>
                	<a id="checkoutDate" style="cursor:pointer;">
                    <span class="calendar"></span>
                    </a>
                    <input type="hidden" id="hiddenIn" name="hiddenIn" value="" />
					<input type="hidden" id="hiddenOut"  name="hiddenOut" value="" />
                    </td>
                </tr>
                <tr>
                	<td style="vertical-align: top;">Message*</td>
                	<td><textarea class="textarea" name="message"></textarea></td>
                </tr>
                
                <tr>
                	<td></td>
                	<td>
                	<div style="position: relative; width: 100px; height: 50px; overflow: hidden; float: left;">
                	
                    <img class="imgCapcha1" src="http://{site_url}/val-image.php" style="float:left; margin-right:20px; height: 50px; position: absolute; left: -22px;">
                    </div>
                    <div style="width:230px; float:left; margin-left:10px; height: 50px;">
					<span style="margin-bottom:7px; float:left;">
                    Type the character you see in picture.
					</span>
                    <input type="text" class="text-m" name="validation" autocomplete="off"/>
                    </div>
                    </td>
                </tr>
                
                <tr>
                	<td></td>
                	<td>
                	<input type="hidden" id="baseURL" name="baseURL" value="{baseURL}" />
                	<a href="#confirmation" class="confirmation"></a>
                	<div style="display: none;">
                	<div class="blockconfirmation" id="confirmation" style="background:#77542D;"></div>
                	</div>
                    <div class="button button_send" ><span>SEND</span></div>
                    </td>
                </tr>
                
                </table>
                </form>
            </div>
                </div>
            
<!-- END Bcontact_us -->