<!-- BEGIN pageAddNew -->
<h1>{title_Form}</h1>
<style>
.exist-img{
	border:1px solid #ccc;
	padding:1px;
	margin:4px;
}
.a-ei{
	display:inline-block;
	position: relative;
}
.exist-img.selected{
	border:1px solid #EF451E;
}
.a-ei input[type=radio]{
	position: absolute;
	cursor:pointer;
	left:0;
	top:0;
	z-index:1;
	width:50px;
	height:50px;
	opacity:0;
}
.error_red{
	display:block;
	padding:5px;
	background-color: #E8AEB6;
    border: 1px solid #FF0000;
    color: #990000;
}
.error_green{
	display:block;
	padding:5px;
	background-color: #F0FBF4;
    border: 1px solid #4FC682;
    color: green;
}

.box-exist-img{
	position: relative;
    width: 60px;
}

.img_300{
	position: absolute; left: 0px; bottom: 56px; display: none;
}
</style>

<script type="text/javascript">
	function trim(str) {
	    var	str = str.replace(/^\s\s*/, ''),
	            ws = /\s/,
	            i = str.length;
	    while (ws.test(str.charAt(--i)));
	    return str.slice(0, i + 1);
	}
	
	$(document).ready(function(){
		$('.radio_exist_img').click(function(){
			var id = $(this).attr('rel');
			$('.exist-img').removeClass('selected');
			$('#img_'+id).addClass('selected');

		});

		$('#combo_article').change(function(){
			var title = $("#combo_article option:selected").text();
			$('input#title').val(title);
		});

		//validasi
		$('input[name=save_changes]').click(function(){
			var article = $('#combo_article option:selected').val();
			if (trim(article)==''){
				$('#combo_article').addClass('error');
				//alert('error');
				//return false;
			}
			/*
			var img = $('[type=file]').val();
			if ( (trim(img)=='') && $('input.radio_exist_img').is(':not(:checked)')) ){
				alert('Please choose an image!');
				return false;
			}	
			*/		
		});
	
	
		$('#combo_app_type').change(function(){
			var app_type =  $(this).val();
			var text =  $(this).text();
			var thaUrl = '{thaUrl}';
			//$('#combo_article_fieldset label').html(text+' (required):');
			//alert (thaUrl);
			jQuery.post(thaUrl,{
					jpKEY : 'post_combo_article',
					app_type : app_type
				}, function(data){
						$('#combo_article').html(data);
						$('#combo_article_fieldset').css('display','block');
				});
		});
	
	})
</script>

<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data" >
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <div class="list_edit">
        <fieldset style="border-bottom:none; margin-bottom:-10px;">
                {error}
        </fieldset>
        <div style="display:none;">
        	<input type="hidden" name="post_id[{i}]" value="{post_id}" class="medium_textbox" id="post_id" />
			<input type="hidden" name="app_id[{i}]" value="{app_id}" class="medium_textbox" id="app_id" />
			<input type="hidden" name="index[{i}]" value="{i}" class="medium_textbox" id="index_{i}" />
			<input type="hidden" name="order[{i}]" value="{val_order}" class="medium_textbox" id="order_{i}" />
        </div>
        <fieldset style="border:none;">
        	<p><label>App Type (required):</label></p>
        	<select id="combo_app_type" name="app_type_id[{i}]" style="min-width:320px;">        		
        		{option_app_type}
        	</select>
        </fieldset>
        <fieldset style="border:none;  {display_combo_article_fieldset}" id="combo_article_fieldset">
        	<p><label>Article (required):</label></p>
        	<select id="combo_article" name="article_id[{i}]" style="min-width:320px;">        		
        		{option_article}
        	</select>
        </fieldset>
		<fieldset style="border:none;">
                <p><label>Title:</label></p>				
                <input type="text" name="title[{i}]" value="{val_title}" class="medium_textbox" id="title" style="min-width:310px;"/>
        </fieldset>
        
        <fieldset style="border:none;">
                <p><label>Sub title:</label></p>				
                <input type="text" name="sub_title[{i}]" value="{val_subtitle}" class="textbox" id="sub_title" />
        </fieldset>
        
		<fieldset>
        <p><label>URL:</label></p>
				<input type="text" name="url[{i}]" value="{val_url}" class="textbox" id="" />
		</fieldset>
		
		<fieldset>
		   </p>Description Left:<p>
		    <p><textarea name="description_left[{i}]" class="tinymce" style="height: 100px;">{val_description_left}</textarea></p>
		</fieldset>
		<fieldset>
		   </p>Description Right:<p>
		    <p><textarea name="description_right[{i}]" class="tinymce" style="height: 100px;">{val_description_right}</textarea></p>
		</fieldset>
		
        <fieldset title="Image Header">	       
            {avatar}
            <p>Select an image file on your computer (2MB max):</p>
			<input type="file" name="image[{i}]" /><br />      
			<p>Or use existing image</p>  
			{existing_image}   
        </fieldset>
        
        
	    </div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END pageAddNew -->
