<!-- BEGIN aboutBlock -->
<div class="custom-content">
    <!-- BEGIN teamBlock -->
    <h3 class="title-team"><span>Team.</span></h3>
    <div class="list-team clearfix">
        <!-- BEGIN listTeamBlock -->
        <div class="team clearfix">
            <div class="thumb">
                <img class="image blur" src={img_team_blur} data-original="{img_team}">
            </div>
            <p class="text name"><span>{name}</span></p>
            <p class="text job"><span>{job}</span></p>
        </div>
        <!-- END listTeamBlock -->
    </div>
    <!-- END teamBlock -->
    <div class="service" name="services" >
        <h3 class="text"><span>{title_services}.</span></h3>
        {content_services}
    </div>
</div>
<!-- END aboutBlock -->