<!-- BEGIN aboutBlock -->
<div class="custom-content">
    <div class="service nw_" name="services" >
        <h3 class="text"><span>{title_services}.</span></h3>
        {content_services}
    </div>

   <!--  <p>Lumonata is an independent design and development studio based in Kuta, Bali, Indonesia. Started in 2006 and formally established in 2007, we offer wide range of services in the field of&nbsp;<a href="http://lumonata.com/portfolio/website-design-development">website design</a>,&nbsp;<a href="http://lumonata.com/portfolio/website-design-development">website development</a>,&nbsp;<a href="http://lumonata.com/portfolio/website-design-development">web application</a>,&nbsp;<a href="http://lumonata.com/portfolio/graphic-design">graphic design</a>,&nbsp;<a href="http://lumonata.com/portfolio/identity-design">identity design</a>&nbsp;and <a name="goto-services" href="#services">digital marketing</a>. We have worked with clients from around the globe and strive on delivering works that help our clients to reach their goal through long terms collaboration.</p>
 -->
    <div class="aclient">
        <h3 class="text"><span>Clients.</span></h3>
        <div class="con-client">
            {content_client}
        </div>
    </div>

    <!-- BEGIN teamBlock -->
    <h3 class="title-team"><span>Team.</span></h3>
    <div class="list-team clearfix">
        <!-- BEGIN listTeamBlock -->
        <div class="team clearfix">
            <div class="thumb">
                <img class="image blur" src={img_team_blur} data-original="{img_team}">
            </div>
            <p class="text name"><span>{name}</span></p>
            <p class="text job"><span>{job}</span></p>
        </div>
        <!-- END listTeamBlock -->
    </div>
    <!-- END teamBlock -->
    
</div>
<!-- END aboutBlock -->