<!-- BEGIN blogDetailBlock -->
<div class="content blog-detail clearfix">
	<h1>{title}</h1>
    <div class="posted-in"><p>Posted in {category}, written by {author} on {date}</p></div>
    <div class="detail-blog">{detail_blog}</div>
    <div class="pagging-blog-detail">
    	<p>Share on <a href="http://www.facebook.com/share.php?u={current_url}" onClick="return fbs_click(400, 300)" target="_blank" title="Share This on Facebook" rel="nofollow">Facebook</a> or  <a class="share_twitter" href="http://twitter.com/share" rel="nofollow">Tweet</a>,
    	read <a href="{prev}">previous</a> article or go to the <a href="{next}">next</a> one.</p>
    </div>
    
     <div class="container-suscribe">
        <form  id="signup_newsletter" name="signup_newsletter" class="signup-newsletter"> 
            <div class="desc">Interested to get our latest update? Please sign up to our newsletter.</div>
            <div class="field">
                <div class="label">Name</div>
                <div class="input"><input type="text" id="name_newsletter"  name="name_newsletter"  class="_input" /></div>
            </div>
            <div class="field">
                <div class="label">Email</div>
                <div class="input"><input type="text" id="email_newsletter"  name="email_newsletter" class="_input" /></div>
            </div>
            <div class="capcha-container"> {capcha}</div>
           <button class="progress-button custom newsletter-button" data-style="shrink" data-horizontal>
                <span class="content">Signup</span>
                <span class="progress">
                    <span class="progress-inner"></span>
                </span>
            </button>
            <div class="notify" id="notify">
	            <div id="notify-text" class="notify-text"></div>
            </div>
            <input type="hidden" name="site_url" value="{site_url}" />
        </form>
        
         
     </div>   	
    
    
    <div id="disqus_thread"></div>
	<script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    
    s.src = '//{short_name}.disqus.com/embed.js';
    
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    
     <!-- IMPORTANT: Replace EXAMPLE with your forum shortname! -->
    <script id="dsq-count-scr" src="//{short_name}.disqus.com/count.js" async></script>
</div>    
<!-- END blogDetailBlock -->