<!-- BEGIN blogDetailBlock -->
<div class="content blog-detail blog-not-ready clearfix">
	<h1>Oops, our blog is not ready yet.</h1>
    
    <div class="detail-blog">
    	<p>Interested to get our latest update? Please sign up to our newsletter.</p>
        <form id="signup_newsletter" name="signup_newsletter" class="signup-newsletter">
        	<p><span><t>Name:</t></span></p>
            <p class="row-style"><input class="_input" type="text" name="name_newsletter" id="name_newsletter"></p>
            <p><span><t>Email:</t></span></p>
            <p class="row-style-2"><input class="_input" type="text" name="email_newsletter" id="email_newsletter"> </p>
            <div class="capcha-container capcha-not-ready"> {capcha}</div>
            <p>
            	<button class="progress-button custom newsletter-button" data-style="shrink" data-horizontal>
                  <span class="content">Signup</span>
                  <span class="progress">
                      <span class="progress-inner"></span>
                  </span>
              </button>
            </p>
            <input type="hidden" name="site_url" value="{site_url}" />
        </form>
        <div class="notify" id="notify">
            <p id="notify-text"></p>
         </div>
    </div>
    
</div>    
<!-- END blogDetailBlock -->