<!-- BEGIN blogList -->
	<div class="list-blog">
        <!-- BEGIN blogListContent -->
        <div class="content blog-detail lazy-load-content clearfix">
            <h2><a href="{link}">{title}</a></h2>
            <div class="posted-in"><p>Posted in {category_link}, written by {author_link} on <span>{date}</span></p></div>
            <div class="detail-blog">
                {content}
                <p><a href="{link}" class="link-more">Continue reading</a></p>
            </div>
        </div>
        <!-- END blogListContent -->
   </div>
<!-- END blogList -->