<!-- BEGIN contactBlock -->
<div class="content page contact aaaa">
	<h1><span>Contact</span></h1>
    <div class="container container-2 clearfix">
          <form class="container container-contact-form container-3 clearfix" name="contact"> <!--onsubmit="return contact_event();"-->
          	<!--<form >-->
            	<p class="text text-2"><span><t>Work with us.</t></span></p>
                <p class="text text-3"><span><t>Interested to work with us? Fill the forms below to help us understand your needs, please note that all fields are mandatory.</t></span></p>
                <p class="text text-4"><span><t>Name:</t></span></p>
                <input class="_input" type="text" name="name" id="name">
                <p class="text text-5"><span><t>Email:</t></span></p>
                <input class="_input" type="text" name="email" id="email">
                <p class="text text-6"><span><t>Describe your company and product/services:</t></span></p>
                <textarea class="_textarea _textarea-1" name="describe_product_service" id="describe_product_service"></textarea>
                <p class="text text-7"><span><t>Services that you are interested in:</t></span></p>
                <textarea class="_textarea _textarea-2" placeholder="Example: website design, website development, logo design, book design, etc." name="service_interest" id="service_interest"></textarea>
                <p class="text text-8"><span><t>Project timeline:</t></span></p>
                <textarea class="_textarea _textarea-3" placeholder="Example: starts 1st August – ends 30 September or 10 weeks starting in May." name="project_timeline" id="project_timeline"></textarea>
                <p class="text text-9"><span><t>Your budget for the project</t></span></p>
                <p class="text text-10"><span><t>Knowing your budget helps us in proposing the right solution for you.</t></span></p>
                <select class="_select" name="budget" id="budget">
                  <option value="">Option (in IDR)</option>
                  <option value="&lt; 15 Million">&lt; 15 Million</option>
                  <option value="15 Million – 30 Million">15 Million – 30 Million</option>
                  <option value="30 Million – 60 Million">30 Million – 60 Million</option>
                  <option value="60 Million – 120 Million">60 Million – 120 Million</option>
                  <option value="&gt; 120 Million">&gt; 120 Million</option>
                  <option value="I have no clue">I have no clue</option>
                </select>
                <p class="text text-11"><span><t>More detail information:</t></span></p>
                <textarea class="_textarea _textarea-4" placeholder="Be as descriptive as possible about the project. The more we know, the more we can help you." name="more_detail" id="more_detail"></textarea>
                <input type="hidden" name="site_url" value="{site_url}" />
                <!--<label class="custom-checkbox after-clear">
                    <input type="checkbox" name="newsletter" value="1">
                    <span class="icon-checkbox left"></span>
                    <span class="label left">Do you wish to opt out of receiving further communication from Lumonata?</span>
                </label>-->
            <!--</form>-->
            	{capcha}
           <!--  <input class="_button" name="send-inquiry" onclick="contact_event();" value="Send" type="button" id="send-inquiry">-->
               <button class="progress-button custom contact-send-button" data-style="shrink" data-horizontal>
                    <span class="content">Send</span>
                    <span class="progress">
                        <span class="progress-inner"></span>
                    </span>
                </button>
               
               <div class="notify" id="notify">
                  <p id="notify-text"></p>
               </div>
             
             
          </form>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
          
          <div class="container container-4 clearfix">
            <div class="container container-5 clearfix">
              <p class="text text-12"><span><t>Address.</t></span></p>
              <!--<p class="text text-13"><span><t>By appointment only<br />Jalan Raya Kuta 127, Kuta, Bali 80361<br>{telp}{email}</t></span></p>-->
              <p class="text text-13">
                <span>
                  <t>By appointment only<br />Jalan Raya Kuta, Gang Cempaka I<br />
                  Kuta, Bali 80361<br />
                  {telp}{email}
                  </t>
                </span>
              </p>

              <div class="wrapper">
              	<div id="map"></div>
				        <script async defer src="https://maps.googleapis.com/maps/api/js?key={api_key_google_map}&callback=initMap"></script>
              </div>
            </div>
            <div class="container container-6 clearfix">
              <p class="text text-14"><span><t>Follow.</t></span></p>
              <p class="text text-15"><span><t>{sosmed}</t></span></p>
            </div>
          </div>
    </div>
</div>
<!-- END contactBlock -->