<!-- BEGIN footersBlock -->
<!-- Footer Start -->
<div class="footer clearfix">
  <p class="text text-18">Work with us, <a href="{site_url}/contact">inquire here</a></p>
  <!-- BEGIN footersContainerBlock -->	
  <div class="content-container clearfix">
  	<!-- BEGIN footersMenuBlock -->
    <div class="social-media clearfix">
      <p class="text text-12">Explore.</p>
      {footer_menu}
    </div>
    <!-- END footersMenuBlock -->
    <div class="download clearfix">
    	<p class="text text-12">Download.</p>
    	<div class="cont-download">
        	<p><span>Need our PDF company profile?</span>&nbsp;<span>Download it below.</span></p>
        	<div class="list-link-download clearfix">
            	<a href="{link_pdf}" target="_blank">English</a>
                <a href="{link_pdf2}" target="_blank">Indonesian</a>
            </div>
        </div>
    </div>
    <!-- BEGIN footersContactBlock  
    <div class="contact clearfix">
      <div class="address clearfix">{title_address}{address}</div>	
      <div class="phone-email text text-17 clearfix">
      	{phone_number}{email}
      </div>	
    </div>
    <!-- END footersContactBlock -->
  </div>
  <!-- END footersContainerBlock -->
  
</div>
<!-- Footer End -->
<!-- END footersBlock -->