<!-- BEGIN HeaderBlock -->
<!-- Header Start -->
<!-- <div style="top: 80px" class="header clearfix"> -->
<div class="header clearfix">
  
	<div class="logo-fix">
      <a href="{site_url}"><img class="image" src="{template_url}/images/lumonata-logo-2015.svg"></a>
    </div>
    <div class="logo clearfix js-link">
      <a href="{site_url}">
          <div class="l"></div>
          <div class="u"></div>
          <div class="m"></div>
          <div class="o"></div>
          <div class="n"></div>
          <div class="a"></div>
          <div class="t"></div>
          <div class="a"></div>
      </a>	
    </div>
    <div id="openmenu" class="nav js-link">
    	<a href="javascript:void(0)" id="openmenu" class="icon-mn">
            <div class="hamburger">
            <div class="menui top-menu"></div>
            <div class="menui mid-menu"></div>
            <div class="menui bottom-menu"></div>
            </div>
        </a>
    </div>
   <!--<div class="contact js-link">
    	<a href="{site_url}/contact" title="Contact"><img class="image" src="{template_url}/images/mail.svg"></a>
    </div>-->
    <a href="{site_url}/contact" title="Contact"  class="contact js-link"><img class="image" src="{template_url}/images/mail.svg"></a>

    <div class="armlang">
      <p>
        <a href="https://lumonata.com/instant-catalog/">
          EN
        </a>
        <span>/</span>
        <a href="https://lumonata.com/katalog-online/">
          ID
        </a>
      </p>
    </div>

    <div id="topmenu">
    	{top_menu}
    </div>
</div>
<!-- Header End -->
<!-- END HeaderBlock -->