<!-- BEGIN HomepageBlock -->
<div class="content home">
	<div class="description clearfix">
       	<h1>{title_home}</h1>
        {description_home}
       <!-- <p class="text text-2">Established in 2007, we are an independent design and development studio based in Bali that provides services in the field of <a href="work.html">website design</a>, <a href="work.html">website development</a>, <a href="work.html">web based application</a>, <a href="work.html">identity design</a>, <a href="work.html">graphic design</a>, and digital marketing.</p>-->
	</div>
    <!-- BEGIN PortfolioListBlock -->
	<div class="portfolio clearfix">
    	<!-- BEGIN PortfolioBlock -->
        <div class="container container-1 clearfix js-link" >
            <a class="link-portfolio" href="{portfolio_detail}">
                <p class="text">{portfolio_title}</p>
                <img class="image image-3 blur" src="{blur_portfolio}" data-original="{thumb_portfolio}" >
            </a>        
        </div>
        <!-- END PortfolioBlock -->
	</div>
    <!-- END PortfolioListBlock -->
    <!-- BEGIN PaggingPortfolio -->
    <div class="paging clearfix">
      <p class="text text-11"><a href="{site_url}/portfolio">See More »</a></p>
    </div>
    <!-- END PaggingPortfolio -->
</div>
<!-- END HomepageBlock -->






