<!-- BEGIN catalogBlock -->
<main id="maincatalog">
		<header class="ocatimg">
		<img src="{template_image_url}headercatalog.jpg">
	</header>

	<section class="greeting-catalog content-container">
		<h1>
			<b>Buat <span>Katalog Online</span></b>
			dan Jangkau Mereka yang
		</h1>
		<p>
			#DiRumahSaja
		</p>
	</section>


	<section class="content-catalog content-container">
		<p>
			Ketika Pandemik Covid19 membatasi pergerakan masyarakat, berbelanja online menjadi
			sebuah solusi, memiliki katalog online tentu akan membantu pelanggan berbelanja di toko
			Anda.
		</p>

		<p class="bld__">
			Menggunakan WhatsApp untuk menerima pesanan online? Menghabiskan terlalu banyak
			waktu di WhatsApp untuk menjelaskan produk Anda
			<span>Gunakan katalog online untuk membantu Anda.</span>
		</p>

		<p>
			Katalog online mampu mengurangi waktu yang dibutuhkan sta dan pelanggan Anda di
			WhatsApp sehingga sta Anda bisa melayani lebih banyak pelanggan dan pelanggan Anda
			bisa mengirimkan pesanannya dengan lebih jelas. Katalog online bisa diakses pelanggan
			Anda dari mana saja dan kapan saja tanpa harus mengunduh dokumen pdf yang kadang
			terlalu besar.
		</p>

		<p>
			Selama masa yang penuh tantangan ini, kami menawarkan katalog online dengan harga
			terjangkau dan bisa online segera dengan kemudahan melakukan update produk.
		</p>
	</section>

	<section class="catalog-foot">
		<div class="content-container">
			<h2>Hubungi kami untuk mendapatkan penawaran.</h2>
			<a href="mailto:instantcatalog@lumonata.com?subject=Jangkau Mereka yang #DiRumahSaja" target="_blank">instantcatalog@lumonata.com</a>
		</div>
	</section>
</main>

<!-- END catalogBlock -->