<!-- BEGIN catalogBlock -->
<main id="maincatalog">
		<header class="ocatimg">
		<img src="{template_image_url}headercatalog.jpg">
	</header>

	<section class="greeting-catalog content-container">
		<h1>
			<b>Get A <span>Website</span></b>
			and Reach Those Who
		</h1>
		<p>
			#StayAtHome
		</p>
	</section>


	<section class="content-catalog content-container">
		<p>
			When COVID-19 pandemic limits people’s movement, shopping online becomes a solution.
			Whether utilizing in-house staff for delivery or using online transport services, having an
			online catalog will definitely help your customer buying from you.
		</p>

		<p class="bld__">
			Using WhatsApp to receive online order? Spending too much time on WhatsApp to explain a
			product?
			<span>Why not consider an online catalog?</span>
		</p>

		<p>
			An online catalog can reduce the time needed by your staff and your customer on WhatsApp,
			so your staff can work with more customers and your customer can send their order clearly. 
			It can be accessed by your customer from anywhere and anytime without having to
			download a pdf catalog that can be too large in size.
		</p>

		<p>
			During this challenging time, we are offering a fast affordable online catalog with content that
			you can update easily.
		</p>
	</section>

	<section class="catalog-foot">
		<div class="content-container">
			<h2>Contact to get a quote</h2>
			<a href="mailto:instantcatalog@lumonata.com?subject=Reach Those Who #StayAtHome" target="_blank">instantcatalog@lumonata.com</a>
		</div>
	</section>
</main>

<!-- END catalogBlock -->