<!-- BEGIN pageBlock -->
<div class="content page clearfix {page_class}">
	<!--<div class="title-page clearfix"><div class="container-h1 clearfix"><h1>{title}</h1></div></div>-->
    <h1><span>{title}</span></h1>
    <div class="description-page">{content}</div>
    {custom_content}
</div>
<!-- END pageBlock -->