<!-- BEGIN PanelSearchBlock -->
<form action="{actions}" method="post" class="panel-search">
    	<input class="search_input" placeholder="Search" type="text" value="" name="search-key">
        <button class="btn-panel-search"></button>
</form>
<!-- END PanelSearchBlock -->